[2022-04-21 23:03] renovate[bot] opened #3 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update k8s.io/kube-openapi digest to 829ce0c
 - [ ] Update Node.js to v16.17.1
 - [ ] Update module github.com

[2022-05-19 20:16] cjellick opened #22 "test"

[2022-05-19 20:17] #22 closed, assigned to nobody

[2022-05-19 20:25] cjellick opened #23 "Production DNS solutoin"
~Potentially using cloudflare reverse tunnels to orchestrate access into otherwise private clusters~

That's not going to work. We're going to do a public dns service and automate TLS, like we did for Rio.

[2022-05-19 20:33] cjellick opened #24 "Local dashboard UI"
- [ ] Refactor code to have a proper API that vince can code against
- [ ] CLI command to launch the dashboard
- [ ] The actual UI (@vincent99 up to you if you want to use this issue to track or create a new one else where)

[2022-05-19 20:43] cjellick opened #26 "Local development proxy solution"
add a command like
[code]
That will create a proxy that will allow all the acorn services to be accessible on the dev's laptop

- Rancher desktop kind of just works out of the box because it automatically forwards 80 and 443
- No such luck with Docker desktop

Proxy could also have an associated webpage/dashboard similar to ngroks that shows some basics about whats gong on (or this could just be i

[2022-05-19 20:46] cjellick opened #27 "Hosted read-only registry"
This will host the sample Acorn applications that users can consume.

It will be hosted on AWS and use an S3 compatible object store. Possibly S3, but also considering R2 from cloud flare.

This will consume the Registry and Redis Acorns to deploy.

We need to determine some form of authentication for the registry as well. To allow push for Acorn Labs and pull for anonymous users.

[2022-05-19 20:47] cjellick opened #28 "Reference acorns"
We need to agree on the first 5 that we should do.

MySQL seems to be a lock.

Acorns should showcase key features of acron, like ability to perform operations such as backup and restore.

[2022-05-19 20:49] cjellick opened #29 "Documentation framework, site, and content"
Will use docusaurus as the framework.

Goal is to get the docs site laid out with some initial content so that everyone else can easily add to the docs.

[2022-05-19 20:51] cjellick opened #30 "add `depends-on` functionality"
For the sequencing of updating and starting services and jobs.
This is internal to an acorn, it is not like package manager dependencies.

[2022-05-19 20:54] cjellick opened #32 "Add `router` functionality"
This is an ingress abstraction. Effectively a load balance with hostname and path based routing.

Will probably be enhanced later to use k8s's gateway api.

[2022-05-19 20:56] cjellick opened #33 "Add app binding functionality"
The ability to bind in an external acorn to that can override containers, services, etc in an acorn.

[2022-05-19 21:20] cjellick opened #35 "Add `secrets` CRUD functionality to CLI"

[2022-05-19 21:23] cjellick opened #36 "Refactor how credentials work with registry"
The UX + security around credentials is important and tricky.
Users should be able to:
- ensure their push creds stay on their laptop
- ensure pull creds are in-cluster so that they dont need to supply them every time a pull needs to happen
- have the option to also have push creds in the cluster if they dont really care

[2022-05-19 21:24] cjellick opened #37 "Add `jobs` CRUD functionality to CLI"

[2022-05-19 21:26] cjellick opened #38 "Add volume syncing functionality"
Similar to how tilt leverages `syncthing`.

[2022-05-19 21:27] cjellick opened #39 "Add `acorn update` functionality"
The ability to edit an existing, running acorn.

[2022-05-19 21:38] cjellick opened #40 "Add `profile` functionality"
An acorn author can define arbitrary parameters for their acorn.
A profile is is a prepackaged set of those parameters to meet specific needs or usecases.

This feature is targeted mostly at ISV type authors of acorns who want to create an acorn version of their product to be reused by many users.

The ISV author would use profiles to have prepackaged configurations that meet different use cases o

[2022-05-19 21:39] cjellick opened #41 "Create a `homebrew` package for installation"
Make installation on laptops simple.
[code]

[2022-05-19 21:42] cjellick opened #42 "Make ports private by default"
Similar to docker, you should have to expose ports to make them accessible

[2022-05-19 21:48] cjellick opened #43 "Add resource request/constraint functionality (...for memory)"
Add the ability to constraint the pod resources (essentially set pod resource requests and limits).

Update 1/19/23 - we are going to use this issue to just track memory, no other resources like cpu

[2022-05-19 22:06] cjellick opened #44 "Add `test` and other QA-type functionality"
Features discussed:
- A way to unit test the acorn file itself. This is just asserting input/outputs of the file without actually launching anything
- A way to cause integration tests to be ran which would launch an ephemeral instance of the acorn and a job to execute tests against that environment and handle the output
- Some nice UX around linting/formatting the acorn file(s)

We also discussed

[2022-05-19 22:19] cjellick opened #45 "Add `operations` functionality"
The design dicussion around this yielded the following:
- There are three entities involved here:
  - `jobs`
  - `cronJobs`
  - `operations`
  - `jobTemplates`

- A `job` is something ran once during an acorn deployment. The acorn might say deploy a mysql container and run this job (at deploy time) to set the root password and insert some data in it.
- A `cronJob`...is a job that runs on a cron in

[2022-05-20 15:34] cjellick opened #46 "Code signing for the CLI on mac"
On a newer MBP running Catalina, I get the error message:

[code]

### Repro
1. download release.zip
2. unzip from terminal
3. `chmod u+x  default_darwin_arm64/acorn`
4. ` default_darwin_arm64/acorn --help`

### Work around
Can work around by opening the binary from finder after chmodding it. This adds a security exception for the binary

[2022-05-20 15:36] cjellick opened #47 "binaries from main builds should be executable by defaul"
Downloaded release.zip. None of the binaries are executable
[code]

So, I have to manually chmod

[2022-05-20 21:03] cloudnautique opened #50 "Unable to run a job"
Custom build version: ```

acorn version v0.0.0-dev+0c6b8767
[code]

You get the following error when you run the acorn.
[code]

The logs show the job has 2 lines:
[code]

There is no secret named generated-htpasswd in the namespace.

[2022-05-20 23:49] cloudnautique opened #51 "Should we be consistent with the --dns name"
When running/deploying apps the --dns flag is used to assign a name. When running in dev mode it is -b for bindings. Not sure why they are different things or if the functionality is different.

[2022-05-21 00:13] cloudnautique opened #52 "latest version in cluster controller has issues"
After running `acorn init` with the latest main build... `acorn version v0.0.0-dev+dcd11454`

I ran `acorn dev` and got:
[code]

Once I started the controller outside of the cluster `acorn controller` the dev mode went to healthy.

Running `acorn apps` gives:
[code]

[2022-05-22 21:50] cloudnautique opened #55 "Unable to exec"
version: `acorn version v0.0.0-dev+29d3f1a1`

When I run acorn exec with the following acorn.cue:
[code]

I get the following error when trying to exec into the registry pod:
[code]

It looks like some permissions are missing.

[2022-05-23 16:05] #55 closed, assigned to ibuildthecloud

[2022-05-23 16:07] cloudnautique opened #57 "acorn exec unexpected EOF"
When running acorn exec the socket is closed after some time of inactivity.

Here is a session example:
[code]

[2022-05-23 17:20] #51 closed, assigned to ibuildthecloud

[2022-05-23 17:24] cjellick opened #59 "Acorn DNS Service"
### Task breakdown

#### External Dependencies
- [ ] Get `on-acorn.io` on the public suffix list. _(Ensures it won't get rate limited by Let's EncryptPublic and prevents different users from seeing each others' cookies)._
  - PR is opened but we're at the mercy of the maintainer there. No way this is done and properly fed into Lets Encrypt by end of June. Because of this (and other reasons) TLS su

[2022-05-25 17:10] cloudnautique opened #65 "Create TLS cert Docs"
Add docs to describe how to add a TLS cert to an ingress.

[2022-05-25 17:19] will-chan opened #67 "Unable to install acorn - authentication required"
Unable to install acorn after being prompted to do so.

tag: v0.0.0-alpha009

./acorn run 20241ea
? Acorn is not installed, do you want to install it now?: Yes
INFO[0010] Installing ClusterRoles
INFO[0010] Installing APIServer and Controller
INFO[0010] Waiting for API server deployment to be available
E0525 10:15:19.934285   10990 memcache.go:196] couldn't get resource list for api.acorn.io/v1: th

[2022-05-25 18:36] sheng-liang opened #68 "Support image name prefix"
Acorn should support image name prefix instead of giving a weird error message.
[code]

[2022-05-25 18:59] will-chan opened #69 "ERRO[0100] failed to stream logs for container ..."
Encountered the following log error messages during acorn dev.

ERRO[0100] failed to stream logs for container web on pod restless-wind-3ad7e570/web-56f69f84f-hl6b8: context canceled
ERRO[0100] context canceled

Steps:
- run acorn dev on the default sample acorn.cue file
- modify the index.html to anything
- Updates are properly updates but the above log error messages are shown.

[2022-05-25 21:16] cjellick opened #70 "Build client is insecure"
need to solve the security issues around the cli talking to buildkit

[2022-05-26 00:14] cloudnautique opened #72 "Dev mode seems to repeat log messages from the containers"
When running in dev mode, it seems like the log stream retriggers and grabs the container logs over and over.

[code]

Notice the registry container logs repeat periodically.

[2022-05-26 00:26] cloudnautique opened #73 "Adding a new container to the acorn.cue file in dev mode requires restarting acorn dev"
start with a simple acorn.cue file:
[code]
run `acorn dev `

Then edit the cue file and add a new container:
[code]

The redis container isn't created until you run `ctrl^c && acorn dev`

[2022-05-26 15:14] cjellick opened #76 "create contribution guidelines/strategy"

[2022-05-26 16:08] cjellick opened #77 "create Release notes generator based on git commits or PRs"

[2022-05-26 16:22] #23 closed, assigned to cjellick

[2022-05-26 16:57] cjellick opened #79 "Setup documentation publishing to GH pages"

[2022-05-26 16:58] cjellick opened #80 "Document architecture"
Create a few diagrams and some explanation

[2022-05-26 19:54] cjellick opened #81 "Eliminate rio.cattle.io annotations"
Sample output:
[code]

I assume we want to update that to not be cattle.

[2022-05-26 20:10] cjellick opened #83 "Problem deleting acorn-system namespace, aka need an uninstall command"
I think you are supposed to be able to uninstall acorn by simply deleting the acorn-system namespace, but when I did that, the namespace got stuck in terminating.

Seems like a race condition and/or chicken and egg scenario based on the logs:
[code]

I havent tried to reproduce reliably, but it sounds like @cloudnautique has hit it a few times too.

[2022-05-26 20:23] cjellick opened #84 "inital call to acorn all or acorn volume errors out and returns non-zero"
This is because the call get list volumes fails if the acorn namespace doesn't exist:
[code]

After getting acorn running, my first instinct was to just run `acorn all` as a sanity check. That shouldn't return an error

[2022-05-26 20:41] cjellick opened #85 "Add verbose/debug output to cli"
Would like to be able to see full requests and responses the CLI is sending and receiving. One of the quickest and easiest ways to learn an API

[2022-05-26 23:13] ibuildthecloud opened #86 "rename data field"
Having the key data in both the root and secrets causes weird scoping issues.  For example the below doesn't work

[code]

[2022-05-26 23:15] ibuildthecloud opened #87 "Default to dash separated?"
container, job, secrets, acorns, etc keys have to be a-z0-9- because that is what k8s expects.  In general we were going to default all keys to camelCase but it's weird to save one key must be foo-bar and everything else is fooBar.  We should just ensure all keys are maybe foo-bar.  The crappy thing about dash separated is that you have to quote the key in cue.

[2022-05-26 23:56] cloudnautique opened #89 "Generated basic and token secrets always end with a '%' character"
so far I haven't been able to use the secret generated values outputted from the generated `basic` and `token` secret types.

[2022-05-27 00:00] cloudnautique opened #90 "Changing the template/content doesn't re-render the secrets"
If you have a template:
[code]

and use it in a secret like:
[code]

then change a value in the template or one of the params, the app doesn't regenerate or update the secret contents in dev mode.

[2022-05-27 14:50] cjellick opened #102 "Ability to switch clusters and namespaces"
From a convo between @vincent99 and @ibuildthecloud

Vince: Is there going to be an equivalent of a cluster list to choose and switch between contexts (for local UI) or registered clusters (for saas) like with acorn --context?  And a /k8s/clusters/<foo>/v1?

Darren: Good point, yes we should have the ability to switch clusters and namespaces. I guess I need an API for that. so /k8s/clusters/[conte

[2022-05-27 17:32] ibuildthecloud opened #104 "Credential Docs"

[2022-05-27 17:36] ibuildthecloud opened #105 "Secret Docs"

[2022-05-27 22:27] ibuildthecloud opened #108 "Don't allow credentials to be bound to app secrets"

[2022-05-27 22:32] ibuildthecloud opened #109 "move CI to using all ghcr.io images to avoid rate limits"

[2022-05-27 22:47] ibuildthecloud opened #110 "secrets expose CLI"
I forgot to add "acorn secret expose" command.

[2022-05-31 15:53] cjellick opened #118 "submission to the public suffix list"
Public Suffix List (PSL) Pull Request (PR) Template
====

Each PSL PR needs to have a description, rationale, indication of DNS validation and syntax checking, as well as a number of acknowlegements from the submitter.  This template must be included with each PR, and the submitting party MUST provide responses to all of the elements in order to be considered.

### Checklist of required steps

* [

[2022-05-31 20:02] cjellick opened #124 "on-acorn.io to public suffix list"

[2022-05-31 20:19] #47 closed, assigned to cjellick

[2022-05-31 23:36] #118 closed, assigned to nobody

[2022-06-02 00:00] cloudnautique opened #132 "Linking didn't happen"
With an acorn run from this cue file:

[code]

against the acorn created from: https://github.com/acorn-io/acorn-library/blob/main/registry/acorn.cue

Run with the following args:
`acorn run -d registry.studio-rd.cloudnautique.com:registry -s user-secret-data:user-secret-data -l lingering-star:redis cloudnautique/registry:2.8.1 --htpasswd-username wmaxwell --storage-cache redis --storage-config @s

[2022-06-02 15:34] cloudnautique opened #135 "Get read only registry running"
Create an Acorn that will deploy the Registry application and allow configuration for production grade deployments.

Initial Acorn can be found in https://github.com/acorn-io/acorn-library

[2022-06-02 15:35] cloudnautique opened #136 "Production Grade Redis Acorn"
Create a Production grade Redis Acorn.

This will be used by the Registry Acorn as part of the read only acorn registry.

[2022-06-03 00:31] cjellick opened #140 "changing port spec doesnt cause new image build"
acorn version v0.0.0-alpha009-73-g66c4269+66c4269f

My acorn file:
[code]

steps to repro
[code]

The second build does not produce a new image

[2022-06-03 21:13] cloudnautique opened #146 "Defining an int param with a default of 1 won't let you set 0"
with a param defined like:
[code]

the user can never set a 0 value from the CLI.
`acorn run <blah> --redis-replica-count 0`

[2022-06-03 21:31] cloudnautique opened #148 "Add Storage Class and Capacity to the Run CLI"
User should be able to specify the storage class and capacity while running the Acorn like:

`acorn run -v my-volume:data,class=fast,size=100 ...`

This should also be on the dev command?

[2022-06-03 23:45] cjellick opened #152 "Builds aren't fully reproducible"
This was discovered while investigating https://github.com/acorn-io/acorn/issues/140

This bug was caused by a line of code that was setting the timestamp of files to 0 (see https://github.com/acorn-io/acorn/pull/151/files).

We were doing that in an attempt to have a fully reproducible build. We removed the logic of resetting the timestamp, but with or without that line, the builds were not fully

[2022-06-04 00:58] cjellick opened #154 "drop managedFields from acorn yaml output"
As the title says

[2022-06-06 17:12] #79 closed, assigned to nobody

[2022-06-06 17:48] #50 closed, assigned to ibuildthecloud

[2022-06-06 17:49] cjellick opened #157 "UI functionality for vince"
packaging UI
provide Steve api to existing api
ability to install acorn into a cluster via an action so that vince can do from ui

[2022-06-06 18:24] #52 closed, assigned to ibuildthecloud

[2022-06-06 18:30] #77 closed, assigned to cjellick

[2022-06-06 18:33] #89 closed, assigned to nobody

[2022-06-07 00:41] cjellick opened #158 "Build and logs talk to kube api. need refactored to talk to acorn api"

[2022-06-07 00:46] cjellick opened #159 "Acorn service resolution not working propely"
In order to expose all the ports exposed in all the containers on the acorns as a single cohesive service, we have this "router" functionality that should create a daemonset in the acorn-system namespace and a couple services in the user namespace. It is currently only creating the DS, not the services.

When this is functioning properly, there should be a service that matches the name of the acor

[2022-06-07 00:49] cjellick opened #160 "Non-http ports are never fully setup properly when the underlying cluster is k3s"
If you expose/publish a tcp port (like it says `8080/tcp`), the endpoint will never get setup properly. This is due to an upstream bug in k3s: https://github.com/k3s-io/k3s/issues/5631

Darren not sure if he'll fix it upstream or just work around it here.

[2022-06-07 19:47] #68 closed, assigned to cjellick

[2022-06-07 19:49] #67 closed, assigned to ibuildthecloud

[2022-06-07 20:01] #39 closed, assigned to ibuildthecloud

[2022-06-07 20:20] #140 closed, assigned to cjellick

[2022-06-07 20:26] will-chan opened #163 "Changing port spec on cue file with an improper definition results in huge stack trace"
I modified the sample acorn.cue file from:

`publish: "80/http"`to `publish: "80/8080"` which is obviously wrong but it results in a big stack trade.  We should clean this up to something friendly to consume.

[code]

[2022-06-08 17:44] cjellick opened #168 "document probe in sample acorn.cue file"
in fact, theres probably a lot of things that need added or updated in that

[2022-06-10 16:52] cloudnautique opened #178 "Changes to JobSpec on update causes controller to error loop"
If a job contains a file with dynamic content, the controller will continue to error trying to update the job spec.

If you define something like:

[code]

Where serverCount is tied to the number of containers running, if you run:
`acorn run <image> --server-count 1`

And later scale it up:
`acorn update ... MY-APP --server-count 2`

The controller will output:
[code]

Workaround: Place the templa

[2022-06-13 15:59] #146 closed, assigned to ibuildthecloud

[2022-06-13 22:46] cloudnautique opened #182 "Acorn run from remote registry seems to miss credentials"
First I logged into the registry:
`acorn credentials login registry.rpi.cloudnautique.com`
entered in username and password.

I built an image and pushed to the registry.
`acorn build -t registry.rpi.cloudnautique.com/library/redis:latest .`
`acorn push registry.rpi.cloudnautique.com/library/redis/latest`

I removed the local copy:
`acorn rm -i <image_id>`

Then tried to run the Acorn from the reg

[2022-06-13 23:22] cloudnautique opened #183 "Limited to no feedback when pushing an Acorn image"
Build an image

`acorn build -t registry.rpi.cloudnautique.com/library/redis:latest`

Push the image:
`acorn push registry.rpi.cloudnautique.com/library/redis:latest`

[code]
Note there aren't any progress lines or anything. Between commands it just sort of hangs for a bit.

Pulling the image:
[code]
returned very quickly.

[2022-06-17 20:36] #65 closed, assigned to cloudnautique, cjellick

[2022-06-20 14:45] cjellick opened #205 "TLS: Support for acorn-dns provided domains"
## Problem Statement:
We want to give users an easy way to get TLS endpoints for the acorn apps.
There are three different use cases where we need to secure endpoints with TLS:
1. Acorn generated [on-acorn.io](http://on-acorn.io/) domains
2. Domains specified by the user at install time using the `--cluster-domain .mydomain.com` syntax (which replaces and overrides [on-acorn.io](http://on-acorn.io

[2022-06-20 14:54] cjellick opened #206 "Custom domain support for TLS"
Users can configure "custom domains" for their acorn services in two primary ways:
- setting a "cluster-domain" as part of installation. This will effectively replace on-acorn.io as the domain suffix used when generating endpoints
- specifying a domain as part of the `--publish` syntax like `--publish myapp.com:....`

In both the scenarios, we want to be able to issue Let's Encrypt certs for those

[2022-06-20 16:09] cjellick opened #207 "dns IPv6 support to acorn integration"
Would need to create AAAA records rather than A records.

The DNS service side supports it. Need to implement on the acorn side

[2022-06-20 20:52] cloudnautique opened #210 "Acorn init shows errors and status on new lines"
On a refreshed Rancher Desktop install running k8s 1.23.6 there is an error and each update shows a new line.

[code]

Previously, no errors were shown and the status refreshed the same line.

[2022-06-21 23:29] #83 closed, assigned to nobody

[2022-06-23 18:23] ibuildthecloud opened #225 "Expose services with conflicting ports"

[2022-06-24 17:05] ibuildthecloud opened #229 "profiles flag doesn't work"

[2022-06-24 20:12] #86 closed, assigned to ibuildthecloud

[2022-06-24 20:16] cloudnautique opened #231 "postgresql reference Acorn."
Reference Postgresql Acorn file. Part of issue #28

Currently in progress.

[2022-06-24 21:28] cloudnautique opened #232 "Kafka / Zookeeper Reference Acorn"
Reference Acorn for Kafka and Zookeeper

Part of #28

[2022-06-24 21:30] #168 closed, assigned to cjellick

[2022-06-25 19:42] #183 closed, assigned to ibuildthecloud

[2022-06-25 20:03] cloudnautique opened #237 "Nested Acorn unfound images"
I built the acorns in the `acorn-registry` namespace individually, and tagged them `redis` and `registry`.

I created a new acorn.cue file with this content:
[code]

I did `acorn build -t mega-deploy .`
Attempt 1:
[code]

Figured it was a timeout due to slow nodes..

attempt 2:
[code]

I ran help to see what options looked like, they were empty:
[code]

deployed the acorn and got the following:
[c

[2022-06-27 17:37] #237 closed, assigned to nobody

[2022-06-27 17:55] ibuildthecloud opened #241 "Support leader probe and election for the acorn control plane"

[2022-06-27 17:56] ibuildthecloud opened #242 "Ability to source external files in acornfile"

[2022-06-27 20:50] ibuildthecloud opened #245 "secret edit cli"

[2022-07-01 21:33] cloudnautique opened #259 "Not scaling down"
Given this Acorn file: https://github.com/acorn-io/acorn-library/blob/f8ae79716c15b474146775725100dfc9cbff8077/mariadb/acorn.cue

built with:
`acorn build . --restore-from-backup "not-a-real-backup" --backup-schedule "* * * * *" --recovery`

Launched:
`acorn run [IMAGE]`

Then scaled up:
`acorn update [APP-NAME] --replicas 3`

Wait until it is stable.

Scale down:
`acorn update [APP-NAME] --replic

[2022-07-11 15:31] cjellick opened #271 "Can't set tls-enabled flag"
CLI wasnt respecting the setting of the tls-enabled flag.

Steps to repro
1. Pass into init either as `--tls-enabled` or `--tls-enabled=true`
2. Check the value via `acorn info`

Actual result
[code]

Expected result
[code]

[2022-07-12 17:16] cloudnautique opened #273 "Docs updates - pre-launch"
This is a bucket issue to capture doc updates before going live.

[2022-07-18 14:52] #207 closed, assigned to cjellick

[2022-07-18 14:56] cjellick opened #301 "Code signing for windows"

[2022-07-18 19:55] cjellick opened #302 "Uninstall command"
Create an `acorn uninstall` command so that we don't have to document `kubectl` commands for removing acorn.

When this is done, the docs around installing, uninstalling, & updating will need updated.

[2022-07-18 20:56] #210 closed, assigned to ibuildthecloud

[2022-07-19 04:57] ibuildthecloud opened #307 "Windows Acornfile lookup is broken"
Error: could not find file: stat: CreateFile C:\_internal_\Acornfile.cue: The system cannot find the path specified.

[2022-07-20 23:46] #307 closed, assigned to ibuildthecloud

[2022-07-23 02:38] saiyam1814 opened #317 "acorn dashboard - checking all the contexts and not working either"
This command actually tires to check against all the contexts in kubeconfig file.
Ideally, it should only be the current context that it should be checked against.
Has this been tested against 1.24?
I have rancher desktop with 1.24 cluster and `acorn dashboard` gives an error.
<img width="1508" alt="Screenshot 2022-07-23 at 8 07 28 AM" src="https://user-images.githubusercontent.com/8190114/1805874

[2022-07-26 01:53] cjellick opened #321 "links not clickable if there's more than one endpoint"
here's output for acorn apps when the app has more than one endpoint:
[code]

because the endpoint urls are smashed together with no space on either side of the `|`, it gets interpreted as one big link when I try to cmd+click on it

[2022-07-26 20:41] vincent99 opened #324 "login should talk to registry to test credentials"
Currently you can enter anything into `acorn login registry.com` and it's just stored without checking that it's valid.  `docker login` verifies the creds, we should too.

[2022-07-27 15:19] cjellick opened #326 "Release notes"
will keep it simple

[2022-07-27 15:19] cjellick opened #327 "Update docs theme and images"

[2022-07-27 15:29] cjellick opened #328 "Give me more details on the secrets needed in an acorn"
As a user of an acorn, I want to know what secrets I need to create and with what keys.

acorn run image --help gives some details:
[code]
I'd like to do be able to have the cli tell me the types and fields, so that if i have to create my own secrets to bind over, i have a better idea of what i'm doing.

Per @ibuildthecloud

[code]

[2022-07-27 15:41] cjellick opened #329 "Add CustomResourceDefinitions (CRDs) to acorn"
This has come up a few times in feedback from users.  We are investing different approaches to solving this.

Our challenge here is that because every CRD has its own unique impact and lifecycle, Acorn cannot reliably and predictably manage CustomResources generically.

We are kicking around different ideas, including bespoke support for different CRD-based systems (like various service meshes and

[2022-07-27 15:48] cjellick opened #330 "acorn generated app secrets become overwhelming"
By default, we don't delete secrets upon uninstall. So, my current `acorn secrets` outputs this:
[code]

I just now realized that `acorn rm` has a --secrets flag to delete the secrets, so I can do better cleanup that way, but I think we can still improve the output. Some possibilities:
1. Order by alias or group by app
2. Show if the secret is associated with an existing app
3. Show if acorn gener

[2022-07-27 15:56] cjellick opened #331 "Docs: converge `Develop with Acorn > Publishing Acorn Images` and `Reference > Manage Images`"
Publish Acorn Images isn't terribly useful. The good stuff is in Manage Images. Just have that page, but I'd like it higher up in the nav, not in reference.

[2022-07-27 15:57] cjellick opened #332 "Docs: Converge or link between the secrets documentaion"
The information is disjointed and spread across multiple sections. Secrets is a good example.
We have:
1. Authoring Acornfiles > Secrets
2. Acorn in Production > Managing Secrets
3. Reference > Secrets
4. And honorable mention: Reference > Command Line > the secret commands

1 and 3 are duplicates of each other
2 give me useful information about how to interact with secrets defined in 1 and 3.
Min

[2022-07-27 16:00] cjellick opened #333 "Docs: give real examples of logging in and pushing to ghcr.io and docker.io"
In https://docs.acorn.io/Reference/Managing%20Images#pull-from-public-registry

our examples use fake registries. I'd prefer we had real examples for docker.io and ghcr.io. For GHCR, we should explain you need a PAT.

GitHub does a good job (obviously they need to because it's their registry): https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-re

[2022-07-27 16:37] cjellick opened #334 "Docs: Acornfile reference"
doc every field

[2022-07-27 17:20] cjellick opened #335 "Remove dashboard from docs"

[2022-07-27 17:25] cjellick opened #336 "MariaDB cant scale down"

[2022-07-27 17:26] cjellick opened #337 "add env vars to run"

[2022-07-27 17:26] cjellick opened #338 "spit out yaml from run"

[2022-07-27 17:29] cjellick opened #339 "change default output to aml"

[2022-07-27 17:30] cjellick opened #340 "add acorn inspect"

[2022-07-27 17:31] cjellick opened #341 "user confiugred namespace and service account for acorns"
Usecases/reasong:
from @clemenko:

From @ekristen:
need to know the namespace and service account ahead of time in order to properly wire-up AWS's IAM pod identity framework

[2022-07-27 17:40] cjellick opened #342 "Rewrite getting started guide"
Build a step-by-step guide for building and deploying a multi-container application that has a DB backend and web frontend

[2022-07-27 17:43] cjellick opened #343 "Document our github actions"
setup and login

[2022-07-27 17:49] cjellick opened #344 "Can't pass string arg to env var"
This in thoery is being addressed as part of #337, but want to track the buggy behavior explicitly.

The only way I could get passing an arg to an env var was to give it a non-blank defualt and to "stringify it" using the "\(args.foo)" syntax.

Neither of those should be necessary

[2022-07-27 20:30] cjellick opened #346 "`acorn rm` is confusing and doesnt do what i need it to"
[code]
deletes the app named `app-foo`, but leaves the secrets it created behind

so i thought, if i do
[code]
or
[code]
those would delete the app and the created secret.

I guess `acorn rm` is for deleting different types of resources, so `--secret` is to delete just a secret and `--volume` is to just delete a volume.

So, I'm missing a single command that will delete an app and the resources it

[2022-07-27 21:29] cjellick opened #347 "Add ability to create functional basic secrets from cli"
[code]
should create a functional basic secret with username and password set, but instead its an empty secret with no keys.

In reality, I was trying to figure out the k8s yaml for generating a secret so that I could generate this secret in fleet and use it in two different (gitops created) acorn apps.

So, I also want `kubectl create -f secret.yaml` to work where secret.yaml is
[code]

[2022-07-27 21:31] cjellick opened #348 "rename `secrets expose` to `secrets reveal`"

[2022-07-27 21:48] cjellick opened #349 "Cant publish a port with a host name"
[code]
that should work

So, I tried a bunch of things. None worked. Just going to splat what I tried because I dont know what's valid and isn't
[code]

[2022-07-27 23:01] cjellick opened #350 "when generating docs, wipe out the directory"
The docs generator wont delete md files for commands that have been removed. we need to wipe the dir to ensure we arent keeping around pages we shouldnt

[2022-07-27 23:08] #350 closed, assigned to nobody

[2022-07-27 23:34] cjellick opened #352 "strange repeating error in logs of acorn-api"
this error repeats on an interval:
[code]

[2022-07-27 23:34] cjellick opened #353 "error in logs when creating app"
in the acorn-api logs, see this error when creating an app:
[code]

[2022-07-27 23:40] cjellick opened #354 "depends-on doesn't work when you're linking in a service"
Snippets of my acornfile:
[code]

Replace db container with a link to another running acorn app:
[code]
`my-service` will just sit in pending forever

[2022-07-28 06:36] iwilltry42 opened #356 "Some api-resources not fetchable via kubectl"
While going through the docs and trying to understand all the bits and pieces of Acorn, I checked out all the resources in the `api.acorn.io/v1` group and tried to `kubectl get` every single one of them.

While doing so, I noticed, that the following two don't work as expected:

[code]

[code]
-> For infos, kubectl doesn't even do the autocompletion.

[2022-07-28 06:52] iwilltry42 opened #357 "Q: no-cache mode for image builds"
How's caching done during the Acorn image building process right now?
Does it cache at all? If so, is there a way to turn it off per build, similar to `docker build --no-cache`?

[2022-07-28 07:19] iwilltry42 opened #358 "List containers by App"
- [ ] `acorn containers -h` shows `acorn container [flags] [APP_NAME...]`, where passing in an actual app name would result in
[code]
  - I guess it should be `acorn container [flags] [CONTAINER_NAME...]`
- [ ] It would still be nice to have a way to filter the `acorn containers` list output by app name, e.g. via a flag `acorn containers --app APP-NAME` or by having some `--filter` options, simila

[2022-07-28 08:07] iwilltry42 opened #359 "Feat: `acorn inspect`?"
Due to the similarities to the Docker CLI UX, I would have expected to find something like `acorn inspect`, which I see is kind of covered by `acorn app -o json` right now.

[2022-07-28 08:31] iwilltry42 opened #360 "Feat: Alias for `acorn run --interactive` to set `args.dev`"
Working with acorn for the first time and reading the docs at the site, it did not feel intuitive that the `--interactive` flag is used to set `args.dev` (development mode), instead of e.g. `--dev`

[2022-07-28 15:18] cjellick opened #361 "secret created through acorn CLI not included in the list of resources to keep during uninstall"
I created an acorn secret using the CLI that looks like this k8s:
[code]

When I did `acorn uninstall`, it did not show up in the list of resources either being kept or destroyed. It was kept after the uninstall
[code]

I guess you're just listing the resources that have the managed annotation, but this feels like it should be listed as part of the uninstall.

[2022-07-28 18:31] iwilltry42 opened #363 "Turn list argument into repeatable flag"
Example argument:
[code]

Expected usage:

`acorn run . --extra-food foo --extra-food bar`

Right now, all variants that I tried to pass in some sort of list (e.g. the one above, comma-separated, etc.) end up with an error similar to the one below:

[code]

[2022-07-28 20:05] cjellick opened #365 "Creating an app via k8s yaml results in weird args parsing error"
I created an acorn app and then got the k8s yaml via
[code]

I deleted lines form new-app.yaml (no other modifications) until it looked like this:
[code]

I tried to apply it with
[code]

I got this error:
[code]

HALP!

[2022-07-29 09:14] iwilltry42 opened #374 "Volume requires access mode: App created without error but without volume"
Acorn built from https://github.com/acorn-io/acorn/commit/46766e5b2737703c3d2f4027cde7324231287bf9

[code]

Acornfile
[code]

`acorn run .` finishes without error.

Dependent containers don't start because `db` container does not come up.

[code]

Container list does not show any issues:
[code]

Volumes list is empty:
[code]

Logs from the `acorn-controller`:

[code]

[2022-07-29 11:15] iwilltry42 opened #375 "Secret not generated in --interactive mode"
Acornfile:
[code]

`acorn run .` is working fine, but `acorn run -i .` gets me the following error:

[code]

[2022-07-29 15:31] #340 closed, assigned to ibuildthecloud

[2022-07-29 17:04] vincent99 opened #380 "Build 500s randomly on Mac rancher-desktop + dockerd"
[code]

Usually just waiting a second and running again works.  @cloudnautique says he sometimes has to delete the buildkit container to get it back.

[2022-07-29 18:09] cjellick opened #381 "document port syntax"
show all the different forms port syntax can take in the CLI.

We agreed that @ibuildthecloud would just document in the normal CLI help and @cloudnautique can figure out how to carry that forward into the rest of the docs

[2022-07-29 18:15] cjellick opened #383 "when creating an endpoint via -p, you still get the default clusterDomain endpoint"
This is the intended behavior, but we wanted to revisit to decide if it was the right move or not

[code]

[2022-07-29 18:21] cjellick opened #384 "add push option to build command"
would like to be able to do

[code]

[2022-07-29 18:30] #344 closed, assigned to ibuildthecloud

[2022-07-29 18:31] #302 closed, assigned to ibuildthecloud

[2022-07-29 18:31] #46 closed, assigned to vincent99, ibuildthecloud

[2022-07-29 18:31] #36 closed, assigned to ibuildthecloud

[2022-07-29 18:31] #157 closed, assigned to ibuildthecloud

[2022-07-29 18:31] #105 closed, assigned to ibuildthecloud

[2022-07-29 18:31] #102 closed, assigned to ibuildthecloud

[2022-07-29 18:31] #154 closed, assigned to nobody

[2022-07-29 18:31] #30 closed, assigned to ibuildthecloud

[2022-07-29 18:32] #132 closed, assigned to ibuildthecloud

[2022-07-29 18:32] #327 closed, assigned to vincent99

[2022-07-29 18:32] #335 closed, assigned to cloudnautique

[2022-07-29 18:32] #332 closed, assigned to cloudnautique

[2022-07-29 18:35] cjellick opened #385 "Document any assumptions about the systems we've tested"
For example, with Docker Desktop you need to delploy ingress if you want the URLs to be accessible. For Rancher Desktop, need to make sure port forwarding is setup properly

[2022-07-29 18:37] cjellick opened #386 "Try to get rid of of spaces in our docs URLS"
By default, docusaurus is putting spaces into our urls based on the page titles, would be better if it didnt

[2022-07-29 18:49] #354 closed, assigned to ibuildthecloud

[2022-07-29 20:41] #374 closed, assigned to ibuildthecloud

[2022-07-29 23:52] cjellick opened #395 "App stays in pending if its linking to another app"
Doesn't appear to affect functionality.

I ran these commands:
[code]

The staging-acorn-dns app never leaves "pending" (last column, scroll over):
[code]

I iteratively removed components of the command used to launch staging-acorn-dns. It only stays in pending if I'm linking.

YAML output of that app:
[code]

[2022-07-30 00:30] cloudnautique opened #396 "Need better messaging when a secret doesn't exist from a Cronjob yet"
If you have a generated secret from a cronjob, there is a delay from the app running and the first run of the cron job. It isn't clear to the user that things are ok, and it just hasn't run yet.

[code]

In the case of a cron, it would be nice to say secrets:waiting: [backup-list: cron will run x]

Then if that fails, the user should be notified.

[2022-07-30 21:18] #365 closed, assigned to ibuildthecloud

[2022-07-30 22:29] cjellick opened #405 "RBAC shouldnt talk about AppInstance"
This section:
https://docs.acorn.io/Architecture/security-considerations#rbac

is out of date. AppInstance is purely an internal thing and users should not be granted access to it.

The RBAC will be on resource in [api.acorn.io](http://api.acorn.io/)

[2022-08-01 16:29] cloudnautique opened #410 "Volumes: size/class params not taking effect on run"
When running:

[code]

or

[code]

The resulting PVC and volume ends up being the Acorn default: storageclass = default and size = 10G.

[2022-08-01 16:36] cloudnautique opened #411 "Volumes: Existing volume does not bind"
pre-created volume 2GB of space in the cluster.

Launched app:
[code]

Couldn't launch app, because on the PVC it was launched with 10G and the requested volume is to small. (This requires K8s to troubleshoot.)

Updated the app with:
[code]

No updates were made to the PVC, and still can't launch the app.

It looks like the App.spec is getting set wrong:
[code]

[2022-08-01 17:23] ibuildthecloud opened #412 "Ensure images prefixes still work"

[2022-08-01 18:46] ibuildthecloud opened #415 "Add status to CLI for pending PVCs"
We don't show any status on volume provisioning.  If volume provisioning is happening it just looks like a stuck container.

[2022-08-01 22:17] cjellick opened #420 "funky endpoints"
Get a funky endpoint with no FQDN
[code]

I get this if I run
[code]
but not if I run
[code]

[code]

[2022-08-02 00:34] ekristen opened #424 "saying no to acorn run results in nil pointer"
[code]

[2022-08-02 02:08] ibuildthecloud opened #425 "Detect missing storage class and report it in volume status"

[2022-08-02 05:43] vincent99 opened #429 "All numbers should just be floats"
The intricacies of when a variable is an int vs a float is confusing since you don't declare the type anywhere.  JS/JSON/YAML (mostly/effectively) just have a single number type.

This will fail because `foos` is implicitly an int:
[code]

Numbers should just all be floats internally.

[2022-08-02 22:00] vincent99 opened #439 "Pull on app update so :latest updates"

[2022-08-02 23:15] ekristen opened #441 "Server Side Apply Does Not Work"
Server Side Apply of Kubernetes YAML generated by Acorn returns an error.

[code]

[code]

[code]

[2022-08-03 05:07] cloudnautique commented on #259
Confirmed this was working.

[2022-08-03 05:07] cloudnautique commented on #273
Wasn't used.

[2022-08-03 05:07] #273 closed

[2022-08-03 16:08] cjellick opened #451 "Deleting acorn dns secret doesnt cause DNS to update"

[2022-08-03 16:17] saiyam1814 opened #452 "Can't create Acorn DNS entries if the ingress has CNAMES and IPs"
The controller logs says
Cluster - Civo Kuebrnetes
Ingress controller - nginx
[code]
ingress svc

[code]
[code]

yaml

[code]

[2022-08-03 16:21] cjellick commented on #452
Can get this fixed pretty quickly. thanks @saiyam1814

[2022-08-03 18:35] olljanat opened #456 "Feature request: Support network policies"
As Acorn can be used to deploy multiple containers as bundle it it would be nice to have also option to generate network policy which isolates application from others.

[2022-08-03 19:01] olljanat opened #457 "Feature request: Simplify pods security hardenings"
Because of history and unwillingness to implement needed breaking change Docker and Kubernetes still defaults to `root` user and not to mention other security hardening which with most of the modern application would be able to work just fine.

Based on my experience most of the applications works just fine with security context like this:
[code]
which with they can run on namespace where `restric

[2022-08-04 17:31] ibuildthecloud commented on #456
Yes, this absolutely will come.  The design of acorn is such that all network communication paths are known and have some logical boundary.  We will either be generating network policies and/or service mesh config (istio/linkerd) to enforce this.  This is key future feature for the security posture of Acorn.  One of the great things about Acorn is we know so much about the application behavior tha

[2022-08-04 17:36] ibuildthecloud commented on #457
As it stands right now all  apps are ran in namespaces that have the baseline profile set (pod-security.kubernetes.io/enforce=baseline).  If you wish to switch to the restricted profile do `acorn install --pod-security-enforce-profile=restricted`.  Right now the profile is a global setting. We are open to make that more configurable but it requires careful design to ensure it's done securely per n

[2022-08-04 17:56] sheng-liang opened #464 "Add a check option to check for readiness of Kubernetes cluster before install"
We should add either a separate command or an option on `acorn install` to check that the Kubernetes cluster is up and running and the user has proper admin privilege. Otherwise `acorn install` fails and the user is confused.

[2022-08-04 18:54] olljanat commented on #457
That is already nice feature. However with that profile Acorn should switch to non-root and drop ALL capabilities as those are things which were Kubernetes defaults does not match with restricted policy.

I mean example `docker run -it -u nobody:nogroup --cap-drop=ALL mcr.microsoft.com/dotnet/samples:aspnetapp` runs just fine but
[code]
does not because that image defaults to root and even Microso

[2022-08-04 21:39] ibuildthecloud commented on #456
Researching this a bit, network policies would be extremely simple.  LInkerd looks straight forward too and Istio is rocket science like normal.  So we will start with NetworkPolicies and go from there.

[2022-08-04 21:42] ibuildthecloud commented on #457
@olljanat Docker allows non-root to bind to <1024 ports.  I'm not sure k8s does that by default, I have to look into it.

[2022-08-04 21:49] olljanat commented on #457
k8s does not, k3s does starting on v1.24.2+k3s1 as I managed to get it included https://github.com/k3s-io/k3s/pull/5538

[2022-08-04 23:34] olljanat commented on #456
In case of one app with multiple containers it should be very simple yes. In case of multiple apps you will need also figure out some nice way to refer another app in Acornfile bur perhaps even that can be just name reference.

[2022-08-05 07:37] hikhvar opened #466 "Support `acorn run --update --name ...` functionality to achieve behavior like `kubectl apply`"
To install an app and than update it, one must do a `acorn run --name foo` and than on any follow up changes must run `acorn update foo`. It would be really cool to have something like `acorn apply --name foo` or similar to helm an `acorn update --install foo`. This would allow easy docs in new projects. We just have to document the single command to run and update the app if already present.

Mor

[2022-08-05 07:44] hikhvar commented on #429
I would argue, that using floats by default is a bad choice. Floats have imprecision and thus, you specify something like: `acorn run ... --foos=12378712311112331233`, and the conversion to float will create an imprecision as you can see in this snipped: https://go.dev/play/p/nkMesfzt6tW

[2022-08-05 07:49] hikhvar opened #467 "UX: Move acorn system related commands to a sub command"
Commands like `arcorn install`, `acorn uninstall`, `acorn info` are in the top level of the acorn sub commands. For me it was hard to figure out, which commands are intended for the developer and which should be used by persons who operate the acorn installation.
I would propose to move the `install`, `uninstall` and `info` subcommands into a subcommand called `system`.
So

`acorn install` becomes

[2022-08-05 08:00] vincent99 commented on #429
All integers <2^53 are exactly representable as a 64-bit float.

Above that storing numbers above that as "integers" still leads to hard to reproduce recipient & value-dependent trouble. e.g. passing through JSON or in a UI (which we will have...) because JS only has "numbers" (64-bit float).

If you're dealing with numbers that big (9 quadrillion+) the only reliable way to transmit them is as str

[2022-08-05 10:29] vincent99 opened #468 "Ingress: Better message for pending LB endpoint"
Say more in `acorn ps` when an endpoint is waiting for a service LB than just `<pending>`.

[2022-08-05 19:14] mahomedalid opened #471 "Ingress: acorn and kind based cluster"
Hi, I am trying to deploy a simple dotnet core app using a local k8s kind cluster with acorn, everything builds fine but the endpoint stays in <pending>.

[code]

[code]

Acorn file:

[code]

[2022-08-05 19:45] mahomedalid opened #472 "acorn --cluster-domain unknown flag"
While trying the --cluster-domain flag mentioned in the docs (https://github.com/acorn-io/acorn/blob/main/docs/docs/50-running/02-networking.md) I got the error unknown flag.

[code]

This is a WSL, and I installed acorn using homebrew.

[2022-08-05 21:52] hikhvar commented on #471
You need to install an ingress controller like specified here: https://kind.sigs.k8s.io/docs/user/ingress/

[2022-08-07 02:14] ibuildthecloud commented on #466
We plan to add a feature like this.  If you are not aware you can do `acorn run -o yaml ...` which will give you the YAML output of the run command.  So what your are asking for is basically the opposite where we take in that yaml.  (dumb hack right now is to actually do `acorn run -o yaml ....` and then edit the yaml and apply with `kubectl apply`.  We want a acorn native way to do that, but it i

[2022-08-07 02:19] ibuildthecloud opened #475 "Properly mount image sources to optimize push"
If you have an Acorn image that references a docker image in registry X and you are pushing your acorn image to registry X, there is no need to push that content again.  It may get pushed because we are not properly "mounting" the source in the push command.  This needs to be validated, but I believe the behavior right now is that we do transfer the images even though they are not needed to be tra

[2022-08-07 02:33] ibuildthecloud opened #476 "Ingress: Detect and deal with missing ingress controller"
We need to inform the user that their cluster is not "Ingress" capable.  The unfortunate this is that a lack of a IngressClass resource does not mean that there are no ingress controllers.  In k3s we have ingress, but there is no IngressClass.

[2022-08-07 03:11] cjellick commented on #471
We've been talking about some better pre-flight checks. Ingress would be one of them. For Docker Desktop, we actually install nginx ingress if its Docker Desktop and theres not ingress installed

[2022-08-07 03:19] cjellick commented on #476
I wonder how often that is the case. If k3s is the outlier, maybe detecting an ingressClass is a good enough check?

I think the whole <pending> on endpoints needs better debug info in general

[2022-08-07 03:20] cjellick commented on #472
oh, it is `--cluster-domains` plural. I'll fix the docs

[2022-08-07 03:21] vincent99 commented on #476
We could preemptively create one (for the cluster domain maybe?) as a canary and during init

[2022-08-07 03:25] cjellick commented on #476
Related issue: https://github.com/acorn-io/acorn/issues/471

[2022-08-07 03:28] #472 closed

[2022-08-07 03:29] cjellick opened #478 "CLI flags that are slices/arrays should not be plural"
For example, it currently is:
[code]
but we want
[code]

Related issue: https://github.com/acorn-io/acorn/issues/472. We fixed the docs to align with reality, but we actually want to change the cli

[2022-08-07 15:25] clemenko opened #479 "err: exec: "docker-credential-osxkeychain""
When testing Acron with `acorn run .` I am getting the following message.

[code]

Looks like I have an old `~/.docker/config.json` that might be causing the error.

Acronfile:
[code]

removing `~/.docker/config.json` fixed.

cc: @ibuildthecloud

[2022-08-07 15:58] cjellick opened #480 "debugging the acorn control plane"
If I think something is wrong with the acorn control plane and want to check the logs for the controller, i have to go to kubectl. Do we want some debugging commands that lets the user know if the conrol plane is healthy and even gives access to the logs of the controller and api?

Could be too "inside" of a feature considering i want it as an acorn dev

[2022-08-07 17:34] ibuildthecloud commented on #480
I think acorn info should show health status and their should be a “acorn system logs” command

[2022-08-07 17:51] ibuildthecloud commented on #32
Making a note to ensure that we handle the http to https redirect for apps that want https only.

[2022-08-07 21:41] fsdaniel commented on #476
@cjellick I think the default install will add an ingress controller but no watches for objects without ingressClass and doesnt set it as default.

https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L75
https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L113

[2022-08-08 02:59] cjellick commented on #452
Fix is in. I'll cut a release tomorrow

[2022-08-08 03:00] #333 closed

[2022-08-08 03:00] #331 closed

[2022-08-08 03:01] #405 closed

[2022-08-08 03:01] cjellick commented on #381
I need to add the syntax to the CLI

[2022-08-08 03:04] cjellick commented on #160
Addressed upstream. Need to test

[2022-08-08 03:06] #59 closed

[2022-08-08 03:07] #342 closed

[2022-08-08 03:07] #158 closed

[2022-08-08 03:07] #104 closed

[2022-08-08 03:07] #41 closed

[2022-08-08 03:07] #338 closed

[2022-08-08 03:07] #42 closed

[2022-08-08 03:07] #343 closed

[2022-08-08 03:07] #271 closed

[2022-08-08 03:07] #33 closed

[2022-08-08 03:07] #229 closed

[2022-08-08 03:07] #40 closed

[2022-08-08 03:07] #386 closed

[2022-08-08 03:07] #412 closed

[2022-08-08 03:08] #321 closed

[2022-08-08 03:08] #395 closed

[2022-08-08 03:08] #349 closed

[2022-08-08 03:09] #326 closed

[2022-08-08 05:33] stevel032 opened #482 "Ingress: Quickstart not working any more, ENDPOINT stays in pending state"
Hi guys, kudos to you for launching the new Acorn system. I tried out the quickstart (right on the docs home page: https://docs.acorn.io/) a few days ago and it worked really well. Today I tried it again and it doesn't work any more. Here are some of the details.

First of all, I have Docker Desktop on Mac, am using its built-in K8S system, everything seems to be in order:

[code]

The Acornfile I

[2022-08-08 05:42] saiyam1814 commented on #482
Can you see if Ingress controller got installed for your cluster ? As for Docker desktop , ingress controller will be installed and then the ingress gets created and then the endpoints will get populated

[2022-08-08 06:57] stevel032 commented on #482
I'm using Docker Desktop for Mac as is, did not make any modifications. I'm not too familiar with the intricacies of ingress controllers, but I see there's bundled nginx ingress controller images in the Acorn image set, and they are running OK. Plus I had it working before, so I don't think my K8S setup is an issue.

However, just to eliminate the issue for sure, I restarted the Docket Desktop, an

[2022-08-08 07:01] stevel032 commented on #482
Half an hour later, I looked into the docker images running, and saw two dead ones. Then a bit later, I saw them restarted/respawned:

[code]

Notice the first 3 have been running for 10-15 minutes, and the others have been running for 58 minutes. Then I looked at the Acorn app again, and I was able to get the ENDPOINT:

[code]

So strictly speaking, this problem is no longer there, at least for n

[2022-08-08 09:52] hikhvar commented on #466
I basically want to have a "acorn make it so" mode. In that mode I give acorn a acorn image or Acornfile and an application name. And than acorn will figure out if the current application have to be updated or created. Because I actually don't care if it's the first time the application is created (`acorn run`), or the application have to be updated ( `acorn update`).

This is something I really h

[2022-08-08 15:02] cloudnautique opened #483 "Provide a way to limit number of completed jobs and failed jobs to keep"
Right now we keep all of the pods for a cron job, which leads to a build-up of pods. We should provide a global and per-job way of limiting this.

[2022-08-08 15:39] cloudnautique commented on #360
Confirmed this is working in acorn version v0.1.0+80d6e93d

[2022-08-08 15:39] #360 closed

[2022-08-08 15:41] #337 closed, assigned to ibuildthecloud

[2022-08-08 15:42] cloudnautique commented on #336
Confirmed this works:
acorn version v0.1.0+80d6e93d

[2022-08-08 15:42] #336 closed

[2022-08-08 15:44] cjellick commented on #482
Improving this is at the top of our priority list. I might send you some questions later to help assess exactly what might have gone wrong

[2022-08-08 15:45] cloudnautique commented on #410
Confirmed this is working. acorn version v0.1.0+80d6e93d

[2022-08-08 15:45] #410 closed

[2022-08-08 15:46] #385 closed

[2022-08-08 15:47] cloudnautique commented on #148
This has been addressed.

confirmed in acorn version v0.1.0+80d6e93d

[2022-08-08 15:47] #148 closed

[2022-08-08 15:55] cloudnautique commented on #73
Confirmed this is working in acorn version v0.1.0+80d6e93d

[2022-08-08 15:55] #73 closed

[2022-08-08 15:56] cloudnautique commented on #38
This works: acorn version v0.1.0+80d6e93d

[2022-08-08 15:56] #38 closed

[2022-08-08 16:11] cloudnautique commented on #90
Confirmed updating values will update the secret.

[2022-08-08 16:11] #90 closed

[2022-08-08 16:14] cjellick opened #486 "TLS: Support for user provided domains"
This is NOT for on-acorn.io domains

This is for the case where user supplies their own cluster domain, or even more likely creates an app with the following publish flag:
[code]

Supporting this means installing and managing cert-manager and auto-creating the `Certificate` CRs if the app wants TLS

[2022-08-08 16:14] cloudnautique commented on #87
@cjellick were any fixes or changes to the code base done in this issue, or is it just to document the decission.

[2022-08-08 16:16] cloudnautique commented on #182
Running images from a registry works now.

[2022-08-08 16:16] #182 closed

[2022-08-08 16:19] cjellick commented on #45
Addition from @cloudnautique

I'm going to use this issue to encapsulate that ask. We'll need to get to the next level of definition for this

[2022-08-08 16:27] cloudnautique commented on #178
Still seems to be an issue.

given:
[code]

If you change the contents of file `/tmp/servers` by editing the string the controller throws an error.

[code]

[2022-08-08 16:27] cjellick commented on #479
from @ibuildthecloud in slack:

[2022-08-08 16:28] cloudnautique commented on #381
We did this right before launch:
https://docs.acorn.io/running/networking#publish-individual-ports

[2022-08-08 17:36] cjellick opened #488 "Kind - Test and document"

[2022-08-08 17:42] cjellick commented on #486
We _arent_ going to install cert-manager.
User expresses they want TLS. If we find the Certificate CR, then we program it

[2022-08-08 17:51] cjellick commented on #359
need to inspect the manifest too, like crane

[2022-08-08 18:00] ibuildthecloud commented on #466
Ah cool, I totally misunderstood your issue.  I too would like this feature.  There are three approaches I can think of to address this.

1.  If your run command has a `--name` parameter then we will create or update always.
2. Add a `--update` to run to enable the --update behavior.  This will implicitly require --name to be set
3. Add a `--create` to update to create if not found.

I personally

[2022-08-08 18:33] cloudnautique commented on #160
I'm able to get svc IPs on a k3s linux install. I tested with 1.23.5 which did not work and upgraded to 1.24.3 which did work.

[2022-08-08 18:33] #160 closed

[2022-08-08 18:37] cloudnautique commented on #72
This has been resolved. Confirmed in acorn version v0.1.0+80d6e93d

[2022-08-08 18:37] #72 closed

[2022-08-08 18:42] cloudnautique commented on #81
Still see on-rio in a fresh install.
[code]

[2022-08-08 18:53] cjellick commented on #87
I'm going to put this under the AML umbrella that @ibuildthecloud will be doing

[2022-08-08 18:59] cjellick opened #490 "AML Rewrite"
We are going to revisit our Acorn Markup Language and potentially revisit the implementation

[2022-08-08 19:00] cjellick commented on #81
Moving out to v0.2.0

[2022-08-08 19:01] cjellick commented on #381
Moving into v0.2.0 to address the CLI bit

[2022-08-08 19:02] cloudnautique commented on #384
This works.

[2022-08-08 19:02] #384 closed

[2022-08-08 19:08] hikhvar commented on #466
I think, `acorn run --update --name foo` will be a good solution.
One can easily write this into the CI scripts, or a developer can easily define a shell alias `alias acornapply=acorn run --update --name` and than run `acornapply foo`.

[2022-08-08 19:09] cjellick commented on #26
We dont need this. local.on-acorn.io achieves it

[2022-08-08 19:09] #26 closed

[2022-08-08 19:13] hikhvar opened #491 "How to define Ingress annotations"
The Kubernetes Ingress resource is a very shallow abstraction. Thus many ingresses use custom annotations to configure their behavior. For example [traefik](https://doc.traefik.io/traefik/routing/providers/kubernetes-ingress/), [nginx](https://docs.nginx.com/nginx-ingress-controller/configuration/ingress-resources/advanced-configuration-with-annotations), [kong](https://docs.konghq.com/kubernetes-

[2022-08-08 19:15] cloudnautique commented on #411
You can bind the volume now.

[2022-08-08 19:15] #411 closed

[2022-08-08 19:19] cloudnautique opened #492 "Acorn will delete a volume that already exists when the app is removed"
If you bind a pre-existing volume into an Acorn then remove that app, the volume is deleted.

On Rancher desktop create a 1G volume in the dashboard using hostpath, and assign to local-path storage class.

[code]

then run:

`acorn run -v my-existing-volume:webd,size=1G,class=local-path $(acorn build .)`

When you remove that app, it deletes the my-existing-volume.

[2022-08-08 19:21] cjellick opened #493 "Cannot unset ingress-class-name"
I set ingress-class-name and then tried to unset it via `--ingress-class-name=''` and now its blowing up pretty hard:

[code]

[2022-08-08 19:23] ibuildthecloud commented on #492
@cloudnautique What is the persistentVolumeReclaimPolicy of the existing PV?  We need that to be "Retain", maybe we don't update it, I thought we did.

[2022-08-08 19:27] cloudnautique commented on #420
Resolved in v0.1.0 release.

[2022-08-08 19:27] #420 closed

[2022-08-08 19:44] cloudnautique commented on #225
Was able to validate:

[code]

both: `acorn run -p 80:web1:80 -p 80:web2:80 $(acorn build .)` and `acorn run --expose web1:80:web1:80 --expose web2:80:web2:80 $(acorn build .) ` worked.

Publish created 2 ingresses
expose created two clusterIP svcs

[2022-08-08 19:44] #225 closed

[2022-08-08 19:53] cloudnautique commented on #159
Using this file:
[code]

You can run `acorn run -p "web-app:80/http" $(acorn build .)` and both containers will be put into a single `web-app` service.

[2022-08-08 19:53] #159 closed

[2022-08-08 20:18] mahomedalid commented on #471
I see, probably a simply note in the documents would be fair until it gets more sophisticated.

[2022-08-08 22:03] cjellick opened #494 "Acorn won't work with Civo's default node port based traefik ingress"
When using acorn on a civo cluster with the default node port based traefik ingress controller, any acorns apps that are deployed will have their endpoints sit in pending forever.

This is because the ingress controller isn't updating the status of the ingress with loadbalancer information.

To get trafefik to update ingress status, you have to add one of the following fields to its configuraiton:

[2022-08-08 22:04] cjellick commented on #494
Found while testing https://github.com/acorn-io/acorn/issues/452

[2022-08-08 23:48] cjellick commented on #491
We currently don't support setting those. But, we're going to be doing more in the area of ingress and routing. Keep an eye out.

[2022-08-09 03:08] lyzhang1999 opened #496 "How does file sync tunnel works? port-forward or ssh tunnel?"

[2022-08-09 14:05] ibuildthecloud commented on #496
It uses the same mechanism as `kubectl exec` except that we use a websocket, not spdy.  So the communication is piped through the k8s api server using standard k8s apis.

[2022-08-09 14:09] ibuildthecloud commented on #491
@hikhvar Are the examples of must have features that are provided through annotations.

One of the tricky things is that we want to ensure that the Acornfile stays infrastructure agnostic so we separate setting between what is in the Acornfile and what is conifgured at deploy time.

From a practical point we will be adding the ability to add labels/annotations to basically everything but I wonder

[2022-08-09 14:12] ibuildthecloud opened #498 "Running containers with PID namespace sharing breaks some Pods"
Acorn by default runs with PID namespace sharing by default.  This means that the Pods dont' run as PID 1.  This breaks some pods, for example icinga/icinga2:2.13.4 looks that is PID 1 and runs startup logic.

[2022-08-09 15:15] cjellick commented on #496
Since this is a question, I am going to convert it to a discussion

[2022-08-09 15:30] cjellick commented on #482
This is an odd one. I haven't observed the endpoint coming and going like that. It's like the ingress is being flaky or something.

Do you continue to see this?

@ibuildthecloud any thoughts on debug steps?

[2022-08-09 15:33] cjellick commented on #476
Yes, with ingress-nginx, you would need to add `--ingres-class-name nginx` to `acorn install` to tell us to use it.

@ibuildthecloud Think we could look for ingress classes and if we find exactly one, use it, even if it isn't marked as the default?

[2022-08-09 15:34] cjellick commented on #480
It would be great if we could add a command that packaged up bug report details. Like, the logs from controller and api server and the output of acorn info all packaged up into a single zip

[2022-08-09 16:02] cjellick opened #501 "Support scheduling"
Add native support for the following (or some subset?) to acornfile:
- taints and tolerations
- node affinity
- priorityClass

[2022-08-09 16:12] cjellick commented on #317
We've removed the dashboard for now. Not sure how/when it will show up in the future. So, this issue will just remained parked for the time being.

[2022-08-09 16:15] cjellick commented on #380
Discussed some yesterday. I think @vincent99 @cloudnautique were going to report back on whether this happens under some new conditions?

[2022-08-09 16:16] cjellick commented on #467
Will bring up for discussion and report back. =

[2022-08-09 16:17] cjellick commented on #492
Putting in v0.2.0 because if this is legit, we'll want to address it soon

[2022-08-09 16:18] cjellick opened #502 "Support image signatures & attestations"
This should be done using sigstore/cosign and supporting technologies.

We discussed this feature in our own internal "dogfooding" scenario. We envision this giving us the ability to promote a hub release from staging to production. Here's the less than ideal options we have now:
- To promote now, we might need to create a new tag (like going from a -rc to a non-rc image so that auto-deploy picks

[2022-08-09 16:18] cjellick opened #503 "Make acorn images scannable"

[2022-08-09 16:19] cjellick commented on #494
The chart in civo should be fixed. I'll test later today and close this out if it is.

[2022-08-09 16:22] cjellick commented on #451
fixed!

[2022-08-09 16:22] #451 closed

[2022-08-09 16:22] #452 closed

[2022-08-09 16:23] #29 closed

[2022-08-09 16:23] #35 closed

[2022-08-09 16:24] #57 closed

[2022-08-09 16:25] #80 closed

[2022-08-09 16:28] cjellick commented on #110
done, working

[2022-08-09 16:28] #110 closed

[2022-08-09 17:17] hikhvar commented on #491
So things I have configured in the past via ingress annotations:
* Basic Auth Setup
* Timeouts and Buffer sizes
* In case of ALB ingress controller the used ACM certificate
* Supported TLS Ciphers

Sadly, all those annotations are ingress controller specific. Moreover, it's very hard to identify which ingress controller ist used since the ingress class allows multiple ingress controllers to be dep

[2022-08-09 18:34] stevel032 commented on #482
I am not seeing this any more, and was able to move on to the next steps in the "Getting Started" section and able to bring up the Python app and see the counter value going up. It was pretty smooth, good job guys...

Now I forgot to attach one more piece of information from yesterday. When Docker Desktop reports that one of the container is dead, I was able to see a single line of log output:

[c

[2022-08-09 18:40] cjellick commented on #491
Time to just right our own ingress @ibuildthecloud? How hard could it be?

[2022-08-09 20:15] cjellick commented on #464
Adding this to the ingress bucket because one of the main things we want to look for is a functional ingress

[2022-08-09 21:05] cjellick commented on #491
Another usecase: cert-manager will automatically manage certs for the ingress if a certain annotation is present
https://cert-manager.io/docs/usage/ingress/#how-it-works

[2022-08-09 22:05] cjellick opened #505 "Support pre-canned cluster roles"
We should have sensible default cluster roles for use with acorn.

There's the obvious:
- acorn-admin (maybe?)
- acorn-edit
- acorn-view

But we might want roles that make sense for environments where you want to disallow building. Like, most prod environments should not allow building acorn images, only running existing ones, so we should have a role for that.

[2022-08-10 00:43] cjellick commented on #478
only one i found was cluster-domain. The rest were already right

[2022-08-10 00:45] cjellick commented on #472
@ibuildthecloud commented that in fact, the flag SHOULD NOT be plural. I am fixing that now. So, when that change is merged, it will be `--cluster-domain` singular, both in the docs and the cli

[2022-08-10 02:57] ibuildthecloud opened #507 "Consolidate Images"
Right now acorn has four images

acorn
buildkit
registry
klipper-lb

We should consolidate everything to one image so that airgapping acorn is simple.

[2022-08-10 12:45] clemenko opened #512 "Enhancement Request: Set DNS name within Acronfile"
It would be nice to be able to add a DNS name to the port definition of a container.

something like
[code]

This will make shipping production apps a little more reproducible. Please allow for override from the command line with
`-p flask.rfed.io:web:`

Similar to #206

[2022-08-10 14:07] clemenko opened #513 "Enhancement Request: Specify Namespace for deployment"
Trying to leverage RBAC on a dynamic namespace it tough in an enterprise environment. Being able to specify the namespace in the Acornfile will help.

[2022-08-10 15:02] #494 closed

[2022-08-10 15:07] cjellick commented on #513
I believe this is captured in this issue: https://github.com/acorn-io/acorn/issues/341

If you agree @clemenko, can we close this issue and work off of that one?

[2022-08-10 15:14] cjellick commented on #512
@ibuildthecloud I thought this would already be doable, no?

[2022-08-10 15:16] clemenko commented on #513
Agreed.

[2022-08-10 15:16] #513 closed

[2022-08-10 15:20] cjellick commented on #482
Thanks for the update

[2022-08-10 16:29] ibuildthecloud commented on #512
There's a way to do this but you need an acorn of acorns.  I'll explain after the standup.  This stuff is undocumented, because again, on the fence about this stuff.

[2022-08-10 16:30] ibuildthecloud opened #515 "Prompt install if first action is run dev mode"
If you immediately run `acorn run -i .` you will get the following message:

[code]
We should prompt the user if they want to install like we do with `acorn run` in non-dev mode.

[2022-08-10 16:32] ibuildthecloud commented on #512
Oh wait, there isn't.  Okay, let me think about how this can be done.

[2022-08-10 17:15] andyjeffries commented on #486
What's the proposal then for how cert-manager should be installed? Just manually in to the cluster?

I don't know your design goals, but this was feeling to me like "bring me a cluster, give me access, deploy your apps with easy commands". Darren just said in the Webinar:

![Screenshot 2022-08-10 at 18 14 34](https://user-images.githubusercontent.com/22904/183975320-5e772cb8-0a91-47d5-a499-1102ab4

[2022-08-10 17:18] andyjeffries opened #516 "Run multiple processes with the same image"
I don't know if this just isn't documented (or I couldn't find it), but maybe it's just multiple "build" commands all with the same value, but somehow specifying different entrypoints (e.g. this is useful for a web and a worker process)

[2022-08-10 17:19] andyjeffries opened #517 "Allow scaling of process types"
I don't know if this is possible but just not documented (or not easily found), but would be necessary for me to use Acorn to be able to specify the scale (pod count) of each process type, e.g. web=10, worker=1, db=1

[2022-08-10 17:20] andyjeffries opened #518 "Tailing logs from the CLI"
Would be great to be able to use `-n NUM` or `-t`/`-f` (for live tailing/following) in the CLI to get a combined output of all processes (combined and lines interleaved), but with an option to filter to a process type and/or process ID for multiple processes of the same type.

[code]

(or something similar)

[2022-08-10 17:23] andyjeffries opened #519 "Support for multiple environments"
I saw in the demo on acorn.io that you can point the same Acornfile to different clusters by specifying different kubeconfigs, however, that doesn't fit my needs. I'd like to be able to manage the same application in different modes (configuration sets) on the same cluster in isolated namespaces.

Use case:

Small SaaS site called saas.example.com, hosted on a single brand-new Kubernetes cluster.

[2022-08-10 17:25] andyjeffries commented on #486
Ahhh, I took the wording of the issue to be almost like a "we won't be doing this", but I guess it's just pending, based on:

-- https://docs.acorn.io/running/certificates

[2022-08-10 17:27] andyjeffries opened #520 "Pre-deployment jobs"
Couldn't find in the docs how to define/run a pre-deployment task, such as `bundle exec rails db:migrate` and only switch the deployment version if that task/script completes successfully (exit code `0`).

[2022-08-10 17:32] andyjeffries opened #521 "Way to specify pod limits"
Would be great to be able to specify pod limits (CPU and RAM), so processes can't run away with a cluster!

If an Acorn pod is killed for limit breach, a log that appears in `acorn logs` would be great too ;-) #518

[2022-08-10 17:36] andyjeffries commented on #518
I saw in the webinar this seems to be implemented. I'll leave the issue here in case I've given something above that isn't actually implemented.

[2022-08-10 17:38] tuananh commented on #519
that can be done with `args` and if else like in the demo video?

[2022-08-10 17:40] andyjeffries commented on #519
I didn't see any way of doing that per environment though. The demo video used a specific flag (in the if condition) for "am I running in development mode", rather than "am I targeting X environment" where X is an app specific word (I use dev, feature, staging and production, but other language speakers may use others).

[2022-08-10 17:51] andyjeffries commented on #517
Seems to be (from the webinar), as you'd expect, the following within your Acornfile's containers' definition:

[code]

I assume it all works with if/else and custom envs (#519), so this can likely be closed.

[2022-08-10 18:05] andyjeffries opened #522 "Configure platforms for multiarch globally"
On the webinar I saw that you can specify `--platform=` to build multiarch, but it would be really nice if you could list them in an `.acornrc` in your home folder or something so it always does it without needing to keep specifying those params every time.

[2022-08-10 18:06] andyjeffries opened #523 "Run a short-lived one-off interactive container"
I'm thinking about trying to replace the `heroku run bundle exec rails console` where it launches a new container of your image, runs the command given `bundle exec rails console` in this example, and when the command exits, clean up the container.

Is that supported?

[2022-08-10 22:55] vincent99 commented on #486
@andyjeffries There's a balance we're trying to find the right line on between batteries-included (you just want a cert, I don't know or care about CertManager) and tolerable-for-cluster-operator-to-install.  The more stuff we add to someone's cluster the more they worry about trying it, compatibility between versions issues, should it be cleaned up on uninstall, etc.

CertManager does a lot of st

[2022-08-11 02:12] ekochen opened #527 "support to set livenessProbe and readinessProbe for a apps"
we need to set health check for the pod , it's better to have a way to support this, can we define this in Acornfile

[2022-08-11 02:29] ibuildthecloud commented on #516
Is the following not sufficient?

[code]

[2022-08-11 02:30] ibuildthecloud commented on #517
Reference to the docs https://docs.acorn.io/reference/acornfile#scale

[2022-08-11 02:30] #517 closed

[2022-08-11 02:32] ibuildthecloud commented on #519
Maybe profiles is what you are looking for https://docs.acorn.io/authoring/args-and-profiles#profiles

Profiles is essential a way to provide a named set of default values for the args.

[code]

[2022-08-11 02:34] ibuildthecloud commented on #520
That can we done with a jobs and dependsOn
[code]

[2022-08-11 02:37] #441 closed

[2022-08-11 02:37] ibuildthecloud commented on #521
This is already a planned feature https://github.com/acorn-io/acorn/issues/43

[2022-08-11 02:37] #521 closed

[2022-08-11 02:38] ibuildthecloud commented on #522
This is a good idea.  This would be the first need for a config file, but I'm sure there are more to come.

[2022-08-11 02:51] ibuildthecloud commented on #523
When you run `acorn exec` you can optionally supply a "debug image".  If you have a container that is running "FROM scratch" the debug image will be used to create an exec session that will use that image as the filesystem but then share the same pid and network namespaces as the target container.  Also the volumes of the target container will be mounted in.  That could work for your use case.

Th

[2022-08-11 02:52] ibuildthecloud commented on #527
That's already supported: https://docs.acorn.io/reference/acornfile#probes-probe

[2022-08-11 02:52] #527 closed

[2022-08-11 02:53] ibuildthecloud opened #528 "Provide use case driven docs for probes"
Probes seem to be only documented in the Reference section.  This is in reference to this issue. https://github.com/acorn-io/acorn/issues/527

[2022-08-11 02:54] ibuildthecloud commented on #528
Oops, no https://github.com/acorn-io/acorn/issues/527

[2022-08-11 02:54] #528 closed

[2022-08-11 02:54] ibuildthecloud commented on #527
Also better docs here: https://docs.acorn.io/authoring/containers#probes

[2022-08-11 03:06] ibuildthecloud commented on #518
We don't have all the parameters for logs, we will add more.  Right now we basically just have `-f`.

[2022-08-11 07:20] andyjeffries commented on #523
I think I'm actually thinking more the second approach. The example I gave is fairly key; `rails console` runs an interactive Ruby prompt with your application's classes all defined and connections to services available (sorry if I'm teaching you to suck eggs, but I don't know how much Ruby on Rails you know).

So I may do something like this:

[code]

Using a scratch image would be useful for deb

[2022-08-11 07:21] andyjeffries commented on #520
I'm assuming then it would only run a one time job for multiple containers then? So this should run only one job, and then only upgrade all four containers if the job succeeded?

[code]

[2022-08-11 07:25] andyjeffries commented on #519
Is `replicas` equivalent to [scale](https://docs.acorn.io/reference/acornfile#scale) or is this just defining an args that can be used in an `if` or somehow injected to an ENV?

What I mean is, do I have to do this:

[code]

[2022-08-11 07:44] andyjeffries commented on #486
Not requiring (or self-embedding the relevant parts of) cert-manager would be cool.

I definitely lean to the "I have a cluster, but want acorn to manage it as a kind-of/lightweight PAAS for me" camp.

I know about Kubernetes (as former CTO of Civo.com), but I don't want to deal with the minutia of it in my new job as it's not necessary for me.

[2022-08-11 16:56] cjellick opened #531 "windows github runner for tests?"
Do we want to introduce a GH runner for windows that runs the tests so that we avoid windows-specific regressions?

[2022-08-11 17:11] cjellick commented on #523
Trying to triage this issue and need a point of clarification. Apologies if you already understood this, but "Using a scratch image would be useful..., but" threw me off a bit.

When darren says:

He isn't saying that the debug image is from scratch, he is giving the example that if your prod application image uses SCRATCH, that is going to be worthless for you to exec into, so you can use the "de

[2022-08-11 17:22] cjellick commented on #519
That is a confusing example. In that example, replicas is an arbitrary argument defined by the acorn author. The likely place you would use it would be:
[code]
or something more complicated, like this real world example it was derived from:
https://github.com/acorn-io/library/blob/main/mariadb/Acornfile#L12
In that example, we can't use the built-in `scale` field because scaling mariadb is more co

[2022-08-11 17:23] cjellick commented on #519
So, the direct answer to your question is "yes, you have to do that"

[2022-08-11 17:24] cjellick commented on #519
Let us know if this then meets your needs and we can close the issue. I might convert this to a discussion since it has good info in it.

[2022-08-11 17:29] cjellick commented on #486
Right now, our implementation plans in this area are as follows:
1. Supply a wildcard cert for the on-acorn.io domain associated with the cluster. This will not use cert-manager. It will just use existing go-libraries in our acorn controller
2. For easy cert-manager integration (for those that already have it), allow for the propogation of annotations from the acorn containers to the ingress we cr

[2022-08-11 18:35] ibuildthecloud commented on #520
Correct, that's the behavior.

[2022-08-11 18:36] ibuildthecloud commented on #520
The only time the job will run again is if the definition of the job changes.  This is important because if you update your app and you need to "rerun" the migration we won't run the job again if the job didn't change.  But honestly this implicitly happens typically because the image parameter changes.

[2022-08-11 20:23] cjellick opened #535 "Support secret interpolation syntax"
Users want to achieve something lik:
[code]

Right now, you have to use secret templates, but that is more boilerplate than needed (see https://docs.acorn.io/authoring/secrets#template-secrets).

Have to decide on a syntax.

See acorn user slack: https://acorn-users.slack.com/archives/C03R9ME0SKC/p1660249028648629

[2022-08-11 20:25] cjellick opened #536 "Document types in api.acorn.io API group usig openapi schema"
We already have the schema. Need to add meaningful descriptions, generate markdown, and incorporate into the docs

[2022-08-11 20:33] ibuildthecloud commented on #535
@cloudnautique This seems like it would simplify a lot of acorns you have built.

[2022-08-12 09:06] andyjeffries commented on #520
Nice, that works for me.

[2022-08-12 09:07] andyjeffries commented on #520
What about if you use `build: "."` on each of the containers and the job, I assume it will automatically run when you do `acorn build && acorn push`?

[2022-08-12 09:09] andyjeffries commented on #519
That works perfectly for me, many thanks.

[2022-08-12 09:23] andyjeffries commented on #516
Yep, that's perfect for me. Many thanks.

[2022-08-12 09:27] andyjeffries commented on #523
I understand now. I think it would be nicer if this sort of Acornfile and commands were supported:

[code]

Then you could do:

[code]

That means if I have all my projects setup the same, I can just use `acorn exec -c console` in each one from my zsh history, without needing to look up the image URL every time I change projects.

What do you think?

[2022-08-12 15:19] cjellick commented on #523
That makes sense. To take it a half a step further, I think it would be nice UX for the "debug" container to be potentially baked into the acorn image by the acorn author so that users don't need to guess at what the right image would be.

I am going to say that this is related to these issues:
- https://github.com/acorn-io/acorn/issues/37
- https://github.com/acorn-io/acorn/issues/45

They all ki

[2022-08-12 15:20] cjellick commented on #523
Short-term solution will have to be the existing exec functionality, but as we look into jobs and operations, I think we should keep this usecase in mind.

[2022-08-12 15:21] cjellick commented on #516
Seems cleared up. Closing

[2022-08-12 15:21] #516 closed

[2022-08-12 15:21] #519 closed

[2022-08-12 16:51] cjellick commented on #493
@iwilltry42 can you take this?

The field that is set by the CLI is here:
https://github.com/acorn-io/acorn/blob/main/pkg/apis/api.acorn.io/v1/types.go#L317

When you run (or rerun) acorn install, this code executes, which handles translating cli flags to a persisted config object:
https://github.com/acorn-io/acorn/blob/main/pkg/config/config.go#L131-L133

Here is where that field is applied to ac

[2022-08-12 21:35] cjellick opened #544 "Switch ingress from nginx to traefik"
When installing acorn on Docker Desktop, if no Ingress Controller is found, we auto-install the nginx ingress controller.

We've noticed that it is very slow to populate Ingresses with an IP. This leads to a bad user experience, so we want install traefik instead. It seems pretty fast with K3s and Rancher Desktop installs of acorn.

Here's the PR where @ibuildthecloud introduced this change:
https

[2022-08-12 21:37] cjellick commented on #468
@iwilltry42 for starters, we just want to change this to "<Pending Ingress>"

[2022-08-12 21:42] cjellick opened #545 "check for service loadbalancer functionality on install"
Services of type load balancer are necessary to fulfill non-http (ie TCP) acorn endpoints.

Not all clusters have this capability. Moreover, if you are using a cloud provider, a service of type loadbalancer will cost you money because an actual LB in the cloud will be created.

We don't want to cost people money without asking, so a few thoughts:
- We could make this an "opt-in" feature where we a

[2022-08-12 21:45] cjellick opened #546 "Check for default storage class during install"
During installation, we should check to see if the cluster has a default storage class. If it doesn't we should warn the user that the cluster won't be capable of handling persistent volumes correctly.

[2022-08-12 21:49] cjellick opened #547 "Check for cluster-admin perms during install"
When you're installing acorn, you need cluster-admin privileges. @ibuildthecloud believes we already check for this and abort installation with an error message that clearly indicates what the problem is, but he isn't sure.

Can we double check this? Try to install as non-cluster-admin and see how the install fails and if it is clear to the user.

[2022-08-12 21:50] cjellick commented on #464
Today we discussed adding checks to install for the following areas:
- Ingress for http endpoints - https://github.com/acorn-io/acorn/issues/476
- Service LB for tcp endpoints - https://github.com/acorn-io/acorn/issues/545
- Storage Class for volumes - https://github.com/acorn-io/acorn/issues/546
- Cluster-admin perms for install - https://github.com/acorn-io/acorn/issues/547

[2022-08-12 21:50] cjellick commented on #464
So this issue is an epic or meta-issue for the above areas

[2022-08-12 22:00] cjellick commented on #545
@iwilltry42 - take this one on last, after you've done all the other install checks. And don't start implementing until we discuss again. We just aren't really sure what we want to do here. If you can think of a good check, post it here.

[2022-08-12 22:02] cjellick commented on #476
So @iwilltry42, during the install process, we want to deploy an ingress in the acron-system namespace and wait to see that its status gets populated with and IP or hostname.

The install output should say something like "Testing ingress capability" and you'll eventually have to timeout (1 or 2 minutes?).

[2022-08-12 22:03] cjellick commented on #476
If the ingress test fails, don't fail the install, let the install continue, just warn at the end

[2022-08-12 22:03] cjellick commented on #464
With all these checks, the shouldn't cause the overall installation to fail. They should just report warnings during the install process and again at the end of install.

[2022-08-12 22:09] cjellick commented on #476
@iwilltry42 of all the install testing related issues, this is the most important because it is the one tripping up the most users. please do this one first. Want to make sure this one gets done. Might even ship a patch release for it specifically.

[2022-08-12 22:10] cjellick commented on #488
closing as a dupe of https://github.com/acorn-io/acorn/issues/471

[2022-08-12 22:46] cjellick opened #548 "Add `--wait` functionality to `acorn run`"
When we run acorn apps, we find ourselves doing:
[code]
to wait until the app becomes healthy. Want to add  `--wait` flag so that the run command blocks until the cotainers are all reporting healthing and (maybe?) the endpoint is out of pending.

[2022-08-13 00:44] WoLfulus opened #549 "Sync not working on Windows?"
`acorn run -i`  will keep saying it cannot "sync".

Using Windows 11 + Docker Desktop

[code]

Acornfile
[code]

[2022-08-13 02:03] yibinlin opened #550 "Does "Quick Start" doc work for Macbook (Apple Silicon)?"
I am trying the [Quick Start](https://docs.acorn.io/#quickstart) section on my Macbook (local cluster is created in MiniKube).

I am stuck in [this step](https://docs.acorn.io/#buildrun-first-acorn-app) after running `acorn run .`, the output is a alphanumeric string other than the acorn name e.g. "small-butterfly", and there is no error:

Output of `acorn apps`:

Could you please help? Thanks!

[2022-08-13 02:03] yibinlin commented on #550
`kubectl get pods` also didn't show any pod created in the local MiniKube.

[2022-08-13 02:45] vincent99 commented on #550
`acorn build .` creates an image but doesn't run it (and the output is the long random hash of that image).

`acorn run that_long_id` runs that already-built image

`acorn run .` is a shortcut which combines those two into one step.

What you've pasted shows you building, but not running anything, so there are therefore no apps.

[2022-08-13 04:43] yibinlin commented on #550
Ahh got it. Yeah I ran with `build` other than `run`. Thanks!

[2022-08-13 04:43] #550 closed

[2022-08-13 12:53] MiniKraken-Team opened #551 "following the "Quick start" followed by error in build process in k3s"
Hi,
First of all I love the concept of this, and I'm excited to see the future of this.

So I was trying out the Quickstart on a k3s test cluster. But I got stopped in my tracks by this:

[code]

This is the setup in the acorn-system namespace (maybe it can give some insight)
[code]

Anybody an Idea why this is happening?

[2022-08-14 04:19] ibuildthecloud commented on #551
Do you consistently get the error if you run `acorn build`.  One way this can happen is if you are using a docker backed kubernetes setup and you don't have `socat` on the kubelet host.  Otherwise this might be a transient issue we haven't figured out the root cause.

[2022-08-14 11:56] MiniKraken-Team commented on #551
Yes consistently, Let me check that out and come back to you on that.

[2022-08-14 15:59] mocdaniel opened #552 "Running Acornfile with templated Secrets results in multiple created pods for single container definition"
When running the attached `Acornfile`, acorn spins up two pods for the same container `icinga2-master` instead of just the one defined container. When leaving out the templated secrets `icinga2-master-api-user-file` and `icinga2-master-constants-file`, the deployment of the acorn works as expected:

[code]

[2022-08-14 16:16] ibuildthecloud commented on #551
If it consistently happens then it is probably an environment issue. To troubleshoot you should run a deployment in k8s and then test that "kubectl port-forward" works properly for that app.

[2022-08-15 01:38] ibuildthecloud opened #553 "Ensure exec works"
As part of install we should validate that exec works as that will break a lot of things in obscure ways.

[2022-08-15 14:57] denist-huma opened #556 "Acorn install waits indefinetely for deployment endpoint available on a private GKE, nginx"
Looks like https://github.com/acorn-io/acorn/issues/482 but with a different setup.
After 10 mins is writes each error on a new line.

[code]

I interrupt acorn with CTRL+C, no ingress got created:

[code]

  ## env

- acorn version v0.1.2+2580d548
[code]

[code]

[2022-08-15 15:09] denist-huma commented on #556
Even if I set nginx manually, not helps
[code]

[2022-08-15 15:34] cjellick commented on #553
@iwilltry42, putting this in your bucket for now

[2022-08-15 15:35] cjellick commented on #552
Link to slack convo for reference: https://acorn-users.slack.com/archives/C03R9ME0SKC/p1660489759722069

[2022-08-15 15:44] denist-huma commented on #556
@cjellick Thanks for your response! The issue with cert-manager on GKE is known to me. I came to the same consulion, my cluster lacks permissive firewall rule to access port 7443 on its nodes.
As soon as I added a firewall rule, I am able to install it.

[code]

[2022-08-15 15:47] cjellick commented on #556
Great! Did you add the rule via CLI or some other scripting that you could post here? It might help others in the future and I might add it to an FAQ/troubleshooting guide (that doesnt quite exist yet).

If you added the UI, no big deal. Probably the link to the GKE docs I have above will suffice.

[2022-08-15 16:42] denist-huma opened #557 "PostgreSQL instance cannot start following the "Getting Started" initdb: error: directory "/var/lib/postgresql/data" exists but is not empty"
I've follewed https://docs.acorn.io/getting-started#step-4-run-your-acorn-app to the letter.

[code]

[code]

db-7bb97b6dc8-5vf9c logs reveals that message:

[code]

## env

acorn version v0.1.2+2580d548
$ kubectl version --short
Client Version: v1.24.3
Kustomize Version: v4.5.4
Server Version: v1.23.8-gke.400

[2022-08-15 17:08] denist-huma commented on #556
@cjellick I use Terraform module that calls another one for GKE: "terraform-google-modules/kubernetes-engine/google//modules/private-cluster-update-variant", there are variables "add_master_webhook_firewall_rules" and "firewall_inbound_ports" that are responsible. An excerpt from my main.tf:

[code]

[2022-08-15 17:12] cjellick commented on #557
@cloudnautique any insights?

[2022-08-15 17:24] denist-huma commented on #557
Editing dirs gives no effect, the PVC is bound pls see below

[code]

[code]

[2022-08-15 17:28] ibuildthecloud commented on #557
@denist-huma What is your storageClass that is getting used?  `kubectl get storageclass`

[2022-08-15 17:32] ibuildthecloud commented on #557
If you are using a real ext4 device sometimes the lost+found directory makes things mad.  Can you try changing `volume://pgdata` to `volume://pgdata?subpath=data`

[2022-08-15 17:33] ibuildthecloud commented on #557
@iwilltry42 Can we update the getting started for this.  Any storageClass that uses a real block device will fail in this way.

[2022-08-15 17:36] ibuildthecloud opened #559 "Document subpath in Acornfile reference"
The follow syntax is valid but not documented in the Acornfile reference

[code]

[2022-08-15 17:36] ibuildthecloud commented on #559
https://github.com/acorn-io/acorn/issues/557

[2022-08-15 17:49] denist-huma commented on #557
@ibuildthecloud Thank you Darren, you got it right! It works :+1:

[2022-08-15 18:51] ibuildthecloud commented on #549
Are you using the k8s built into Docker Desktop or something else like kind, minikube, or k3d?

[2022-08-15 21:07] ibuildthecloud opened #561 "Support poddisruptionbudget"
We should be rendering proper PDBs for deployments we create.

[2022-08-16 03:40] mamiu opened #563 "Plans about supporting the Kubernetes specs"
First of all: Thanks a lot for building acorn! It's an amazing tool and would solve a lot of issues for us.

But what plans do you have in terms of supporting all the specs of the different resources (e.g. like [deployments](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.24/#deploymentspec-v1-apps) or [pods](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.24/#pod

[2022-08-16 03:51] dezren39 opened #564 "Custom Domain Resolution"
Hello! If I used my own domain, is there DNS resolution? Or is there another tool that can be used with acorn which would let me recreate on-acorn? How does that all work ?

[2022-08-16 05:21] mamiu opened #565 "String interpolation consistency in AML"
The doc section about [Template secrets](https://docs.acorn.io/authoring/secrets#template-secrets) gives the following example:

[code]

So there are two ways of string interpolation in AML (if this will become the name of the acorn markup language):
* `\(some.referenced.key)` (e.g. `\(localData.configValue.key)`)
* `${custom-URI-scheme://object-name/attribute}` (e.g. `${secret://my-secret-data/ke

[2022-08-16 14:08] #557 closed

[2022-08-16 14:15] ibuildthecloud commented on #565
Thanks for the feedback.  There's an important technical difference between the two syntax.  I 100% agree we should be consistent, but let me explain why they are currently different.  The `\(...)` syntax is evaluated by the markup language at parsing time.  The `${...}` syntax is evaluated by the backend after the fact.  The reason for this is that the AML parser does not have access to secrets,

[2022-08-16 14:15] ibuildthecloud commented on #565
@vincent99 Ideas?

[2022-08-16 14:25] ibuildthecloud commented on #563
Yes, absolutely, things are just in progress still.  Scheduling rules and resource constraints are the two obvious things we are missing. We will add update strategies two, but we want to ensure we do things that are intuitive to the user and not just copy and paste every field from k8s.

DaemonSets are a tricky one.  They really have almost no applicability in the application domain and almost al

[2022-08-16 14:32] ibuildthecloud commented on #552
There's a bug in the secret and dependency management.  The deployment under the hood is not supposed to be created until the secrets under the hood are created but that isn't working properly so it's starting the deployment with no secret and then immediately updating it with new secret values. I will try to provide a fix for this today.

[2022-08-16 14:34] vincent99 commented on #565
Maybe turn the info only available at runtime into an explicitly named made-up top-level variable?  `\(runtime.secret["my-secret"].data)`

[2022-08-16 15:03] cjellick commented on #563
Going to convert this to a dicsussion

[2022-08-16 15:15] cjellick commented on #564
Unfortunately, you don't get DNS resolution if you use your own domain.

For our own production services using acorn (which can't us on-acorn.io), we are using custom domains per-service and setting up the DNS semi-manually to point at the public interface of our clusters.

on-acorn.io is powered by this project: https://github.com/acorn-io/acorn-dns. I just wrote a blog about how we develop and d

[2022-08-16 15:19] cjellick commented on #556
Much thanks!

[2022-08-16 15:19] #556 closed

[2022-08-16 16:08] cjellick opened #571 "Support labels and annotations on all acorn resources"
The app itself can have labels and annotations . These would ultimately just live in the metadata field of the App resource

You can also specify L&As such that they will be applied to every resource the app creates.

You can also specify L&As to be applied to all each resource type (ie containers, secrets) and to specifically named resources of that type.

The `acorn run` UX will be:
[code]

and

[2022-08-16 16:08] cjellick commented on #571
Related: https://github.com/acorn-io/acorn/issues/491

[2022-08-16 16:32] WoLfulus commented on #549
The builtin one.

[2022-08-16 23:00] vielmetti commented on #545
I don't know if it's in scope for Acorn, but it would be very useful to have a document that worked its way methodically through the choices that you have for a service of type load balancer on a cloud by cloud, bare metal, and desktop environment.

As an example, it looks like `kube-vip` might be able to do this function, based on the docs at https://kube-vip.io/docs/ 👍

[code]

[2022-08-17 07:46] denist-huma commented on #557
the examples are still wrong: https://github.com/acorn-io/examples/blob/cabf9d3825b77597978dd8a84279e4bb8179085e/docs/flask/Acornfile#L34 @iwilltry42

[2022-08-17 08:15] iwilltry42 commented on #557
PR was not merged. Just did that: https://github.com/acorn-io/examples/pull/7 :+1:

[2022-08-17 12:26] tekumara opened #574 "Support ingress to app running in k3d on macOS"
An acorn app deployed to k3d:
[code]

ie: app.awesome-acorn.192iu1.alpha.on-acorn.io => 172.24.0.3

However this is not routable from the macOS host.

[2022-08-17 14:27] cjellick commented on #44
Discussed here: https://github.com/acorn-io/acorn/discussions/575

[2022-08-17 14:28] cjellick commented on #574
@iwilltry42 do you know some trick here? I believe there's some port-forwarding that needs setup or something?

[2022-08-17 14:33] cjellick commented on #574
actually, i got this working awhile ago. Required a little extra setup around port proxying. I'l try to spin it up again and let you know what you need

[2022-08-17 15:46] cjellick commented on #574
@tekumara can you share the command you used to spin up your k3d cluster?

[2022-08-17 16:57] cjellick commented on #574
So, there was a convoluted way to get it to work as-is, but it kind of sucked. So, I have a PR to make this better:
https://github.com/acorn-io/acorn/pull/576

[2022-08-17 19:04] mreferre opened #577 "Pending on Ingress"
Hey folks. I am trying to deploy [my standard test app](https://github.com/mreferre/yelb) with Acorn and I am failing to see the Ingress to stabilize (err .. work at all).

I am using an EKS cluster (1.21) with the AWS LB Controller.

I know the controller works because if I deploy my K8s YAML file it works just fine. This is the (pretty verbose) YAML I am using (also available [here](https://gith

[2022-08-17 20:06] cjellick commented on #577
Can you give us the output of `kubectl get ingress -A -o yaml`? I want to compare the yaml for the two ingresses.

[2022-08-17 20:17] cjellick commented on #577
The fact that you got as far as you did means nothing is wrong with your acornfile. It created a proper ingress resource:
[code]
...but that should have a status field with a loadbalancer object. The fact that it doesn't means that the ingress controller isn't picking it up.

Normally, I would suspect you need to set the ingress class via:
[code]
but your function ingress in the default namespace

[2022-08-17 20:22] cjellick commented on #577
Oooh, my bad, I misread your original post. That ingress is from your working version.

Everything still holds true except this part:
[code]

Can you still share the yaml output of both ingresses? I'm fairly certain it is going to be the abscense of these annotations:
[code]

[2022-08-17 20:26] cjellick commented on #577
And you can still try to see if
[code]
resolves it, but that sets a field on the ingress called ingressClassName and your ingress controller's documentation indicates it uses the older annotation `kubernetes.io/ingress.class`, so I don't know if it will respect the `ingressClassName` field or not.

[2022-08-17 20:26] cjellick commented on #571
Related: https://github.com/acorn-io/acorn/issues/577

[2022-08-17 20:27] cjellick commented on #493
I'm going to take this because I hit it again and its starting to annoy me.

[2022-08-17 20:29] mreferre commented on #577
Thanks! Here is the output of the command:

[code]
Note that I am using the YAML that configures the ALB to work with native pods IPs (a requirements for EKS/Fargate but it also works with EKS/EC2). I have another yaml ([here](https://github.com/mreferre/yelb/blob/master/deployments/platformdeployment/Kubernetes/yaml/yelb-k8s-ingress-alb.yaml#L67-L69)) that does the same thing but leverages the tr

[2022-08-17 20:36] cjellick commented on #577
Yep, it's because `kubernetes.io/ingress.class: alb` is missing.

AWS's docs:

https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html

Only chance of it working right now is if their ingress controller also happens to support the ingressClassName field that we set when you do `acorn install --ingress-class-name alb`. If that doesn't work, you'll need a code fix from us.

I am working on

[2022-08-17 20:39] cjellick commented on #577
Does your cluster have an ingressClass object?
[code]

[2022-08-17 21:45] mreferre commented on #577
It does.
[code]

I will play more tomorrow with `acorn install --ingress-class-name alb` and see what happens. Will report on this thread on the outcome.

Would that be a flag for the `acorn run`?

Thanks!

[2022-08-17 21:48] cjellick commented on #577
No, I was thinking that as part of `acorn install --ingress-class-name alb`, i would set both the `ingressClassName` field **and** the annotation. But after a little more reading, they arent quite equivalent, so I am now hesitant to do that.

Fortunately, it looks like `acorn install --ingress-class-name alb` will work since that IngressClass exists. ...or at least it will get further. Then we wil

[2022-08-18 02:06] thedadams commented on #492
For whatever it's worth: I am not able to reproduce this using Rancher Desktop v1.5.1, Kubernetes v1.23.8, and Acorn v0.1.2. The volume I created had its `PersistentVolumeReclaimPolicy` set to `Retain` by default.

[2022-08-18 02:07] thedadams commented on #424
Looks like this was fixed by https://github.com/acorn-io/acorn/pull/427

[2022-08-18 02:48] mamiu commented on #565
Thanks for the explanation @ibuildthecloud.

Would it theoretically be possible to evaluate both string interpolations by the backend? Because not only would this enable a uniform syntax, but it would also make use cases like the one you mentioned possible.

Just in case it were possible, I think it made more sense not to use the custom URI scheme syntax for functions (e.g. like `password: ${func:

[2022-08-18 09:32] mreferre commented on #577
Ah ok that makes sense, thanks. So a few updates.

First I have verified that the native YAML could work without the `alb.ingress.kubernetes.io/target-type: ip` so we know that annotation is not required.

I ran the `acorn install --ingress-class-name alb` which gave me all green BUT it did not move the needle on our problem. That is, if I try to deploy the app again the ingress remains pending as

[2022-08-18 10:21] denist-huma opened #583 "Delay acorn apps deployment waiting for secrets got created in a workload's ns"
One has to delete app pods because they ran into connection errors, at least I saw this with Redis.
Unfortunately, these connection errors in "todo-app" containers don't exit the app.
It's not possible to delay Acorn apps start to wait for secret creation.
The [dependsOn](https://docs.acorn.io/reference/acornfile#dependson) works only for Acorn containers.
[Linking Acorn Apps](https://docs.acorn.i

[2022-08-18 10:56] tekumara commented on #574
I used `k3d cluster create acorn -p 8000:80@loadbalancer`.

When I need access from the host to a service running in the k3d cluster, I've had to either:
- create an [IngressRoute](https://github.com/tekumara/orion-demo/blob/327d306b17e4d664122445e35aead5b3b9f95bdd/infra/ingress-orion.yaml) for the service inside the cluster, or
- create a [Service with type LoadBalancer](https://github.com/tekuma

[2022-08-18 13:37] ibuildthecloud opened #584 "Handle missing storage access mode"
If a cluster doesn't support readWriteMany we need to inform the user instead of volumes being stuck.

[2022-08-18 13:39] ibuildthecloud commented on #584
This is related to but and extension of https://github.com/acorn-io/acorn/issues/425

[2022-08-18 14:46] iwilltry42 commented on #547
Here's the code returning an error on insufficient privileges during installation: https://github.com/acorn-io/acorn/blob/main/pkg/install/install.go#L394

It's triggered if the roles can't be applied to the cluster.

In addition to that, when trying to install acorn with a user, that e.g. only has the `view` or even `edit` or `admin` ClusterRole privileges, you get the standard Kubernetes errors

[2022-08-18 16:15] mamiu commented on #565
I see what you're saying.
Keen to hear about your assessment or decision once you've figured out the actual danger.

[2022-08-18 16:26] mreferre commented on #577
Thanks. I have deployed my cluster using this CDK Blueprint: https://github.com/aws-quickstart/cdk-eks-blueprints (simply because I needed an ingress and the Blueprint install the AWS LB ingress - along other things we probably don't need for this).

[2022-08-18 18:03] stevel032 commented on #482
I'm being using Acorn off and on for the past few days and the issue does not pop up any more. I don't know how you guys manage the issues here, but feel free to close it. If the problem occurs again, I'll let you guys know.

[2022-08-18 19:27] cjellick commented on #482
Will do. Thanks

[2022-08-18 19:27] #482 closed

[2022-08-18 19:27] stevel032 opened #586 "Suggestions to improve step 7 of the getting started doc section"
After successfully completing the "getting started" section described in the doc, I'd like to share some feedback with you guys on step 7, as I had to struggle a bit. Some simple changes might help future folks quite a bit.

- There is no such thing as "my.registry.com". Now I know it's just a placeholder, but it wasn't apparent. This is especially important because the `acorn login` command does

[2022-08-18 19:57] cjellick commented on #424
Now that's what I call QA.

[2022-08-18 19:57] #424 closed

[2022-08-18 20:05] cjellick commented on #586
Thanks @stevel032. This is good feedback. I particularly agree with not using "my.registry.com". We'll get that updated.

@iwilltry42 can you update this doc to use a real registry? We are using ghcr.io in a lot of places, so might as well use that.

[2022-08-18 20:13] cjellick commented on #583
This is good feedback.

What do you mean by " external secrets"?

[2022-08-18 20:37] cjellick commented on #545
@vielmetti - saw your tweet. Service LB should work in Rancher Desktop. I wonder what's going on. What version of RD and K3s are you running? I think there was a bug in certain versions of k3s around this that was recently fixed.

[2022-08-18 21:08] cjellick opened #587 "name uniqueness of resources in acornfile"
Dropping this here so I dont forget. @ibuildthecloud said that all top level resources (well, I guess second level) must be uniquely named.

However, i can name a secret and container the same thing. that's the only thing i tested so far.

[2022-08-18 21:12] vielmetti commented on #545
OK, I've updated nearly everything, and the problem seems to have gone away! Good news.

I'm currently using the following versions of everything:

Rancher Desktop v1.5.1
Kubernetes version v1.24.3
acorn version v0.1.0+80d6e93d
macOS Monterey 12.5.1
the Acornfile at https://github.com/vielmetti/acorn-gitea/blob/a6a479017ec992f746476cd623edbb34903c5a72/Acornfile

I think it might have been this com

[2022-08-19 00:15] stevel032 commented on #586
While we are on this subject, does it seem odd to you guys that the `acorn login` will actually not do the `logging in` operation, and thus never report any failure?

[2022-08-19 00:32] vincent99 commented on #586
Yes; https://github.com/acorn-io/acorn/issues/324

[2022-08-19 15:07] cjellick commented on #547
I think we'd like to see the friendly "insufficient privileges to install into the cluster" if an view or edit user tries to install.
So, if you can introduce that error messsage `Error: namespaces is forbidden: User "system:serviceaccount:klum:nonpriv" cannot create resource "namespaces" in API group "" at the cluster scope`, I think that would be an improvement.

[2022-08-19 15:40] denist-huma commented on #583
@cjellick I am not sure **anymore** that issue is on your side. I am still discovering what is going on. Had no time to come back to this app.
As I know from my practice, generally when deployment has a secretKeyRef it will not create a pod until secret exist.
I still wonder why my exmple app has error connecting to redis and why I have to restart it.

[code]

[2022-08-21 05:27] tekumara opened #599 "Run buildkitd pod in rootless mode"
My corporate kubes cluster prevents pods running with securityContext privileged=true.
So unfortunately acorn's buildkitd pod fails to start.

Also unfortunately, I'm not a cluster admin, so can't easily change our cluster's settings. I first created a loft vcluster, to have my own kube control plane, and then installed acorn.

Are there good reasons for running buildkitd as a privileged pod? Or w

[2022-08-22 15:08] andyjeffries opened #600 "Missing how to re-run your Acornfile?"
I don't know if I've missed it in the docs, but I can't figure this out.

Let's say that I've deployed an app, it's using MySQL with a volume, and all is well.

Then I want to add Memcached to my app. So I add the required sections in my Acornfile, and I attempt to run:

[code]

I would expect this to update the running app, with the new container included, binding the DNS and everything. However,

[2022-08-22 16:25] cjellick commented on #600
It will update the ENTIRE acorn app. Think of your acornfile as the "desired state" in this case. Whatever containers are in the acornfile at the time of running update is what acorn will make reality in the cluster. So, to your original question, I think you want `acorn update ...`

To your second question, I am not sure I entirely follow. Can you describe (prefereably with commands) how you are

[2022-08-22 17:07] andyjeffries commented on #600
Ok, so if I wanted to add a container to a running app, I would do “acorn update -n appname newcontainer memcached:1.2.3” and  it will also update everything, not just set the image for that container.

that’s what I’m not following, if I update the acornfile, how do I re apply it? Just “acorn update -n appname” with no container?

regarding secret, I was just going to edit it directly between run

[2022-08-22 20:26] denist-huma commented on #486
Hello there.
Acorn is not finding a TLS secret!?
I just tried several times it is not working.

[code]

I have a TLS secrets that `external secrets operator` created from GCP SM.
[code]

1. there is no .spec.tls section
2. I use [external-dns](https://github.com/kubernetes-sigs/external-dns) so I need to put "external-dns.alpha.kubernetes.io/hostname": "todo-app-acorn-1.sbx.huma.com" annotation

[

[2022-08-22 20:39] denist-huma commented on #583
Not an iisue anymore, solved after v0.14.0 acorn install

[2022-08-22 20:39] #583 closed

[2022-08-22 21:16] cjellick commented on #486
It looks like you are creating the secret in the generated namepsace that acorn creates. For this auot-detect feature to work, you want to add the secret to the user-facing namespace (`acorn` by default).

I didn't realize external-dns relied on an annotation being on the ingress. I am currently working a feature to support the addition of arbitrary user-defined labels and annotations to be added

[2022-08-22 21:25] denist-huma commented on #486
Here is [link to its docs](https://github.com/kubernetes-sigs/external-dns#setup-steps)
Annotate the Service with your desired external DNS name. Make sure to change example.org to your domain.

IMHO not intuitive at all. When I feed my TLS secrets to my operator, I create secrets in each namespace, because this allows to cover tenant per namespace case.

[2022-08-22 21:38] cjellick commented on #486
Roger that. Hopefully when the annotation feature lands, it will meet your needs.

I hear you. That just hits a chicken-and-egg problem of adding the secrets after acorn has created and deployed everything. We have [_another_ feature in the queue](https://github.com/acorn-io/acorn/issues/341) for being to tell acorn to create its k8s resources in a pre-defined/pre-created namespace rather than a g

[2022-08-22 21:42] denist-huma commented on #486
do Acorn want me to name a secret some way? It doesn't pick up my secret.

[code]

Or have to rm app and create again?

[2022-08-22 21:55] cjellick commented on #486
It looks for a match in the SANs against the hostname.

[2022-08-22 21:56] ibuildthecloud commented on #486
Can you provide a dump of the cert (not the private key).  Like `openssl x509 -in cert.pem -noout -text`  or the kubectl yaml output and just drop the key field?

[2022-08-22 21:56] denist-huma commented on #486
@cjellick do you want to say what I was doing an unexpected way of deploying?
It should I put secrets for my workload into `acorn` or `todo-app-acorn-486a834d-ac4`

Acorn creates a bunch of secrets that are empty in the `acorn` namespace. Are they supposed to be filled? Than why do they have random suffixes? I got confused.

[code]

[code]

[2022-08-22 22:29] denist-huma commented on #486
todo-app-acorn-1.sbx.huma.com should accept *.sbx.huma.com TLS cert.

[code]

I have some issue with external-dns in my test cluster. I will get back tomorrow, it is late night in my place.

[2022-08-22 22:33] cloudnautique commented on #486
Yeah, wild card support hasn't been added/tested. It is on the list of items to add.

[2022-08-23 13:10] denist-huma opened #605 "Documentation error in TLS Certificates my-cert.yaml got invalid contents"
[code]
$ k apply -f domain-certificate.yaml
error: error parsing domain-certificate.yaml: error converting YAML to JSON: yaml: line 8: mapping values are not allowed in this context

[2022-08-23 13:11] denist-huma commented on #605
I would like to fix it myself

[2022-08-23 13:31] denist-huma commented on #486
Acorn v0.1.4 is not supporting one certificate/tls-secret for 2 dnsNames at the moment:

[code]
[code]

https://todo-app-acorn-1.sbx.huma.com/ is working, but https://server.todo-app-acorn.sbx.huma.com/ gives `NET::ERR_CERT_AUTHORITY_INVALID`

[2022-08-23 14:37] cloudnautique commented on #486
I want to try and reproduce this, you have the single cert with 2 DNS names.

On the ingress resource in the generated `todo-app-acorn` namespace, can you confirm the secret is not being added in both places?

[2022-08-23 15:07] denist-huma commented on #486
Hey
Bill @cloudnautique
This my ingress
[code]
TLS secrets seems to be equal inside

[code]

[2022-08-23 15:28] cloudnautique commented on #486
@denist-huma Here is what I tried, and it seems to be working as expected. Can you let me know if my setup is different from yours?

It looks like the info you last provided, Acorn is recognizing the appropriate certificate to use for each of the domain names. I wonder if this is more of a cert issue?

I have a simple Acornfile with two containers:
[code]

I requested a cert with two `dnsNames`:
[

[2022-08-23 15:41] denist-huma commented on #486
@cloudnautique I think it works as expected

- https://todo-app-acorn-1.sbx.huma.com/
- https://server.todo-app-acorn.sbx.huma.com/
Both return for Chrome: NET::ERR_CERT_AUTHORITY_INVALID, for Firefox MOZILLA_PKIX_ERROR_SELF_SIGNED_CERT. That is expected.

What I had before was due to browser's cache, https://github.com/acorn-io/acorn/issues/486#issuecomment-1224082048 is solved.

[2022-08-23 16:07] cjellick commented on #486
Can this issue be closed?

[2022-08-23 16:11] cjellick commented on #605
Someone else from the community may have beat you to the punch
https://github.com/acorn-io/acorn/pull/601

If so, please feel free to close this issue.

[2022-08-23 16:18] cjellick commented on #600
Sorry for delayed response!

You want:
[code]
(where the --image flag specifies the new acorn image)

[2022-08-23 16:38] cjellick commented on #600
Yeah, so you want to "bind" the secret. This bit of the docs explains it:
https://docs.acorn.io/running/args-and-secrets#binding-secrets

If you bind a secret like that, when it comes time to upgrade, you can just do
[code]
and the secret you created will stay bound to app. You don't need to rebind it on the upgrade.

[2022-08-23 16:54] andyjeffries commented on #600
Ohhhh it’s specifying the Acorn image, not the container’s image… gotcha…

[2022-08-23 19:48] cloudnautique commented on #486
@cjellick The topic of this issue is the Acorn supporting TLS out of the box, so probably can't close yet until we merge the annotations? Or we keep going to provide something completely end to end.

@denist-huma I was able to verify that Wild Card certs do work as expected. From my previous example in https://github.com/acorn-io/acorn/issues/486#issuecomment-1224235479 I changed the cert to:
[cod

[2022-08-23 19:50] cjellick commented on #486
Right on. My bad

[2022-08-23 20:08] cjellick commented on #600
👍 let me know if we're good to close this issue or not

[2022-08-23 21:30] andyjeffries commented on #600
Good for me, thanks for the answers.

[2022-08-24 09:23] #605 closed

[2022-08-24 14:34] denist-huma commented on #486
@ibuildthecloud thank you, following you I tried one more time.
In my setup I if both the self-signed cert and my *.sbx.huma TLS secrets present in the "acorn" ns, then Acorn do a thing I don't get:
- it uses `*.sbx.huma` TLS for `todo-app-acorn-1.sbx.huma.com`
-  the self-signed cert for the `server.todo-app-acorn.sbx.huma.com`

[code]

[code]

I did `acorn rm` and `acorn run` again, no changes.

[2022-08-24 14:42] cloudnautique commented on #486
@denist-huma the cert would need to be for `*.todo-app-acorn.sbx.huma.com`. Wild cards are only valid for one level.

[2022-08-24 14:50] denist-huma commented on #486
how can I disable the publishing of `server.todo-app-acorn.sbx.huma.com`?
Change the `ports: publish: "8090/http"` to `"ports: expose: "8090/http"` or remove it completely from acornfile and supply at run?
`acorn run -n todo-app-acorn --publish todo-app-acorn-1.sbx.huma.com:server .`

[2022-08-24 15:43] cjellick commented on #486
We went back and forth on whether to _also_ create the generated-name endpoint if you explicit set and endpoint. We ultimately decided to create it, but your concern makes sense. We'll change the behavior to _not_ create a generated-name endpoint when you've explicitly set one.

Here's the tracking issue:
https://github.com/acorn-io/acorn/issues/383

[2022-08-24 16:07] denist-huma commented on #486
@cjellick Yes that makes sense. :+1:
My concern is that acorn should not "make an offer one cannot refuse" :) (c) Godfather

[2022-08-24 19:13] liyimeng opened #615 "What is the difference from devspace?"
Interesting project! How it is different from devSpace, builtin registry? better workflow?

[2022-08-25 15:53] cjellick commented on #615
This is a great question. We are going to do one or more blog diving deeper into the differences between this and other tools.

They do both aim to ease the development workflow related to Kuberentes, but diverge quickly beyond that.

I'm not a devSpace expert, but here's my take:

At the end of the day, devSpace still wants you creating/deploying/managing the native kubernetes resources (deployme

[2022-08-25 16:40] denist-huma commented on #329
# Propose a new Acornfile syntax for Custom Resources

## Use case

We are in R&D team describe resources for our workloads in Kubernetes with CRDs.
The resources currently are the AWS S3 bucket, Redis and MongoDBUser (db + user pair) in-cluster provided by KubeDB.
There are several CRs we use with our operators at huma.com.

[code]

## Custom Resources syntax proposal

Used a [Authoring Acornfile

[2022-08-25 18:22] denist-huma commented on #329
## Watching for Custom Resources Status

Acorn can watch events with Custom Resources waiting for them to become "Ready".
Upon CR reaching the "Ready" phase, dependent container can be deployed.
Than give an opportunity to declare in a container `dependsOn: [ "cr.bucket", "cr.db", "cr.redis"]`.

Custom Resources in general have some fields inside their Status that represent a state when it is good

[2022-08-26 07:50] andyjeffries opened #624 "Unable to use Docker as registry, errors about gcp"
I try to do acorn build as per https://docs.acorn.io/publishing#additional-information but I get errors about gcp? I don't use GCP so I don't know why I'm getting that.

First, I'll ensure I'm up to date on Acorn:

[code]

Then to try to login to Docker (I don't know if I need to do this first

[code]

Can anyone help figure out why it's complaining about gcp when I don't have it configured to use

[2022-08-26 21:12] ibuildthecloud commented on #624
I think the error you are getting is because your ~/.kube/config file is for GCP which requires an external helper and we don't have it registered.  There's some imports we are missing to support GCP.  We can fix that.

[2022-08-26 22:40] ibuildthecloud commented on #624
I'm fixing this right now, but if you switch to their new auth mode this should fix the issue: https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke

[2022-08-29 02:24] ibuildthecloud commented on #599
Buildkit rootless seems to need unconfined seccomp and apparmor which very well might be reject too. For rootless setups probably the best approach would be to support another builder like kaniko that runs rootless better.

[2022-08-29 04:51] tekumara commented on #599
Buildkit rootless seems to work in our cluster. I have docker locally on my mac m1 (arm64). Although I do like building in the cluster, because the cluster is amd64 and has a faster network to our package repositories.

[2022-08-29 10:15] denist-huma commented on #565
I add to this that doc is not clear about interpolation or substitution. https://docs.acorn.io/authoring/args-and-profiles#in-a-string-or-template
You need to stress the **\(some.referenced.key)** is needed.
I've read it the "()" are good way, so at first I tried this "image: ghcr.io/huma-engineering/huma-score-engine-server:(args.tag)" that  is  rendering the same "image: ghcr.io/huma-engineering

[2022-08-29 10:19] denist-huma commented on #565
@ibuildthecloud I prefer to use client side string interpolation, so I can use "acorn render".
I is just as convinient as "helm template ." or "kubectl --dry-run"

[2022-08-30 12:26] andyjeffries commented on #624
It's actually a hangover from a previous job. I forgot that Acorn will connect to the cluster at all (Acorn isn't a "part of me" yet, so is still a little unfamiliar), and certainly didn't expect it to do so at that early stage.

I'll be removing it completely my side, so the error will go away, but glad the bug report uncovered a new feature for you anyway :-)

[2022-08-31 08:20] andyjeffries commented on #600
Sorry @cjellick , I'm back and this isn't working for me still. I've anonymised some stuff below and trimmed some output in the build, but nothing to do with responses or errors (no errors anyway).

[code]

Why does "white-dust" never get upgraded to `myimage:3`?

[2022-08-31 15:34] cjellick commented on #329
Plugins are interesting. I recently had the thought of a plugin system that would allow one to add additional content to an acorn image and then interact with it in cli extensions provided by the cli. Like an "SBOM" plugin that put the content in the image as an additional indexed item that could the be retrieved via `acorn sbom <image>` (but the sbom command not being baked into the cli).

 I got

[2022-08-31 18:07] cjellick commented on #600
Can you do `acorn images` and show me the output? Specifically, I want to see `myimage:1` and `myimage:3`

[2022-08-31 18:14] cjellick commented on #383
Addressed in https://github.com/acorn-io/acorn/pull/614

[2022-08-31 18:28] cjellick opened #635 "Add -c / --container flag to images"
From @cloudnautique's [PR](https://github.com/acorn-io/acorn/pull/603):

The output for `-c` now displays the IMAGE-ID column so that untagged Acorn images containers can be displayed and tied back to the Acorn image. When doing quiet mode, the repo is set to `<none>` to provide the indication it is unknown. The Image-id is used as the TAG field in quiet mode. Behind the scenes it looks like Acorn

[2022-08-31 18:34] cjellick commented on #498
The github project view doesnt show the link to the pr. so adding as a comment:
https://github.com/acorn-io/acorn/pull/499

[2022-08-31 18:37] cjellick commented on #491
Addressed in https://github.com/acorn-io/acorn/pull/632

[2022-08-31 18:37] cjellick commented on #571
Addressed in https://github.com/acorn-io/acorn/pull/632

[2022-08-31 18:38] cjellick commented on #334
This will get updated once we round out the AML updates

[2022-08-31 18:53] cjellick commented on #552
addressed in https://github.com/acorn-io/acorn/pull/572

[2022-08-31 19:00] cjellick commented on #381
Going to close and leave it as just the documentation until someone complains.

[2022-08-31 19:00] #381 closed

[2022-08-31 19:57] cjellick commented on #383
Verified

[2022-08-31 19:57] #383 closed

[2022-08-31 19:58] cjellick commented on #468
verified

[2022-08-31 19:58] #468 closed

[2022-08-31 19:59] cjellick commented on #493
verified

[2022-08-31 19:59] #493 closed

[2022-08-31 19:59] cjellick commented on #478
verified

[2022-08-31 19:59] #478 closed

[2022-08-31 20:01] cjellick commented on #574
K3d will now use the "local.on-acorn.io" address and we've updated the docs on what you need to do to properly setup port forwarding:
https://docs.acorn.io/installation/installing#local-development-clusters

[2022-08-31 20:01] #574 closed

[2022-08-31 20:05] cjellick commented on #635
Shoot..nested images breaks this. I get the following error:
[code]

[2022-08-31 20:11] cjellick commented on #635
To repro:
First create an image called `nestee`;
`acorn built -t nestee .`
[code]

Then create an image called nester that nests nestee:
`acorn build -t nester`
[code]

Once both are built, try to run `acorn images -c`

[2022-08-31 20:13] cjellick commented on #498
verified by user who reported it (I think)

[2022-08-31 20:13] #498 closed

[2022-08-31 20:14] cjellick commented on #498
@mocdaniel can you confirm the fix worked for you?

[2022-08-31 20:15] mocdaniel commented on #498
Yes I can :)

[2022-08-31 20:19] cjellick commented on #552
I ran a quick test with the supplied acornfile and this seems to be respovled, though the app crashes with
[code]

[2022-08-31 20:19] #552 closed

[2022-08-31 20:20] cjellick commented on #586
docs updated

[2022-08-31 20:20] #586 closed

[2022-08-31 20:47] cjellick commented on #544
@iwilltry42 - @ibuildthecloud had made nginx the defaultIngressClass, so acorn worked out of the box.

You did not do that, so out of the box, apps get stuck in `Pending Ingress`.

Rather than setting traefik at the k8s-level default ingress class, can you make it so that traefik gets set in acorn's `ingress-class-name` field (when we install traefik, that is)?

[2022-08-31 20:59] cjellick commented on #544
Hm. i set `--ingress-class-name traefik` and the arguement is making it through to the ingresses that are created, but traefik still isnt picking them up.

Judging from the logs of the traefik pod, looks like a permissions issue:
[code]

[2022-08-31 21:01] cjellick commented on #544
Let's also change the namespace we install traefik to from `default` to `acorn-system`.

[2022-08-31 22:29] cjellick opened #636 "Ports docs examples are misleading"
In the ports docs section (https://docs.acorn.io/running/networking#publish-individual-ports), we say things like
[code]

But this is inaccurate. It will be tcp and a loadbalancer if the port in the acornfile file was tcp. If the port in the acornfile was http, this will publish as an ingress

[2022-08-31 23:02] cloudnautique commented on #635
I submitted PR #637 to ignore traversing nested acorns so the command works for primary Acorns.

[2022-09-01 07:34] andyjeffries commented on #600
[code]

[2022-09-01 15:11] cjellick commented on #544
Did a fresh install of your PR and this is what I'm getting:
[code]

So, different error(s), same result

[2022-09-01 15:19] cjellick commented on #544
I see the service of type LB for traefik is pending. Could be contributing to the problem:
[code]

[2022-09-01 16:02] cjellick opened #641 "Labelling services derived from nested acorns likely doesnt work"
This came up in the review of: https://github.com/acorn-io/acorn/pull/632

Where we resolve the labels that should go on a service, we only consider containers. We don't consider nested acorns. But we deemed this a non-blocking issue because nested acorns are likely changing or going away. So, if they go away, can close this issue.

[2022-09-01 21:04] cjellick opened #644 "`check` fails because the exec pod already exists"
If you run `acorn check` right after install or quickly twice in a row, you get:
<img width="1254" alt="Screen Shot 2022-09-01 at 2 02 51 PM" src="https://user-images.githubusercontent.com/2473240/188012657-6b171ecc-8338-4db3-9955-7c9142af9efe.png">

Can we delete the pod before attmepting to create it?

[2022-09-01 23:08] cjellick commented on #341
namespace bit is fixed in: https://github.com/acorn-io/acorn/pull/643
service accont bit coming soon

[2022-09-01 23:09] cjellick commented on #544
Fix verified!

[2022-09-01 23:09] #544 closed

[2022-09-01 23:09] cjellick commented on #635
merged and verified. thanks!

[2022-09-01 23:09] #635 closed

[2022-09-01 23:10] cjellick commented on #571
self-verified. shipt it!

[2022-09-01 23:10] #571 closed

[2022-09-01 23:15] cjellick commented on #471
As of v0.2.0, install will now check and warn if ingress isnt functioning properly

[2022-09-01 23:15] #471 closed

[2022-09-01 23:16] cjellick commented on #546
verified

[2022-09-01 23:16] #546 closed

[2022-09-01 23:16] cjellick commented on #547
verified.

[2022-09-01 23:16] #547 closed

[2022-09-01 23:17] cjellick commented on #553
verified

[2022-09-01 23:20] cjellick commented on #600
OK, so, because all the image tags actaully point to the same image-id, it isn't changing anything. I'd say this is bug, but a relatelively low priority one because in all practical usecases, if you are trying to update the image, it isn't going to be the same image ID that you are currently on.

[2022-09-02 06:49] iwilltry42 commented on #644
True.. unfortunately it's super slow to terminate that test pod. One way would be to wait for deletion before creating it.
Another one would be to just use a unique ID on every run.

I actually favor the latter since
1. we don't leave dangling resources anyway since we defer deletion
2. we cannot make use of the existing pod
3. waiting for termination/deletion would need another chunk of logic and

[2022-09-02 06:51] iwilltry42 commented on #476
@cjellick as a follow up for this: we didn't handle the "deal with it" part of this issue. Should we have an (opt-out) install of traefik during installation if the ingress check failed?

[2022-09-02 12:06] iwilltry42 opened #649 "traefik ingress: ditch default ingressClass in favor of Acorn-only default"
Just as one would do using `acorn install --ingress-class-name`.

Open Questions

- Edge Case: User installs Acorn **before** installing ingress-controller with the defined ingressClass
  - Acorn wants to install Traefik and set internal default ingressClass to traefik while user defined not-yet-existing ingressClass foobar

[2022-09-02 20:27] cjellick commented on #649
This edge case completely confuses me. What does storageclass have to do with the ingress class?

[2022-09-02 20:28] cjellick commented on #476
@ibuildthecloud do you want to take

[2022-09-02 20:29] cjellick commented on #476
@ibuildthecloud do you want to take ingress a step further and if we detect ingress missing, interactively ask the user if they want us to install traefik for them?

[2022-09-02 20:29] cjellick commented on #476
I suspect the install isnt really one-size-fits-all, so maybe better to not get into that?

[2022-09-02 20:37] cjellick commented on #644
Yeah, I live using unique ID every run. let's do that

[2022-09-06 11:03] denist-huma opened #659 "Acorn install fails to check NginX Ingress Controller IngressCapability"
[code]
ingress-nginx-controller log:

[code]

Versions:

- K8s Rev: v1.23.8-gke.400
- acorn version v0.2.0+8dd7a3bb
- k8s.gcr.io/ingress-nginx/controller:v1.1.1 CHART ingress-nginx-4.0.15

[2022-09-06 11:25] denist-huma opened #660 "Acorn silently stops reconciliation if target-namespace existed before"
[code]

Versions:

- K8s Rev: v1.23.8-gke.400
- acorn version v0.2.0+8dd7a3bb

[2022-09-06 15:22] cjellick commented on #660
Weird and interesting. We'll take a look

[2022-09-06 15:27] cjellick commented on #659
@iwilltry42 assigning this to you. If a `--ingress-class-name` is passed as part of the install, it should be used/respected in the ingress test

[2022-09-06 15:27] cjellick commented on #659
Thanks for the report @denist-huma!

[2022-09-06 15:57] #551 closed

[2022-09-06 16:38] cjellick commented on #135
im closing. We are just using ghcr for our images. When the time comes for a fully-funcitonal registry, that's a different effort than a read-only one

[2022-09-06 16:38] #135 closed

[2022-09-06 16:45] cjellick opened #662 "Support resource requests and limits"
Add native support for resource requests and limits to acornfile.

The best usecase test for this will be to prove that we can properly launch and manage AI/ML applications that require GPU support

[2022-09-06 16:50] #341 closed

[2022-09-06 16:51] cjellick commented on #491
Docs:
- https://docs.acorn.io/authoring/labels
- https://docs.acorn.io/running/labels

[2022-09-06 16:51] #491 closed

[2022-09-06 21:27] cjellick opened #664 "Error on uninstall"
When I run uninstall, I now very consistently get "an empty namespace may not be set with a resource name provider":

[code]

and the uninstall process immediately exits, even though it isnt really done

[2022-09-06 23:35] meldafrawi commented on #660
Steps to reproduce:

Acornfile:
[code]

1. Create a namespace
`kubectl create ns ns-test-app`

2.  `acorn run -n test-app --target-namespace ns-test-app .`

3. `acorn apps`

output:
[code]

4 check `appinstances.internal.acorn.io` CRD
`kubectl get appinstances.internal.acorn.io -A -o yaml`

output:
[code]

[2022-09-06 23:47] cjellick commented on #660
Thanks for the debugging @meldafrawi

Looking at @ibuildthecloud's PR for this feature, I guess this is behaving as expected. If the namespace is pre-existing, it has to be labelled a certain way. Specifically:
[code]
This is to prevent, or at least make more difficult, an unauthorized deployment into someone else's namespace by requiring the target namespace have labels that match the app you are

[2022-09-07 01:40] ibuildthecloud commented on #599
It's logical for us to switch to rootless. If your cluster is going to reject privileged, if it rejects rootless your no worse off than before.

[2022-09-07 05:57] ibuildthecloud commented on #660
It looks like the error message getting generated is wrong. Is supposed to say what labels you need. I can look at that.

[2022-09-08 00:53] vincent99 commented on #205
Only comment is about [container.app.slug.on-acorn.io](http://container.app.slug.on-acorn.io/) not fitting wildcards like you mention it at the end.

We'll need to have have strategies to disambiguate edge cases:
- Container or apps can contain hyphen and conflict with a different one.. (e.g. `container="foo", app="bar-baz"` vs  `container="foo-bar", app="baz"`)
- Could add constraints to limit co

[2022-09-08 18:46] meldafrawi opened #670 "acorn install fail on AKS"
Steps to reproduce:

1. Create AKS cluster
2. install acorn
3. run `acorn check`

logs:
[code]

[2022-09-08 23:46] meldafrawi commented on #670
Was able to bass the checks by deploying nginx ingress controller to **the default namespace**

if nginx ingress deployed to different namespace, the issue still exists.

1. `helm repo add nginx-stable https://helm.nginx.com/stable`
2. `helm repo update`
3. `helm install --set 'controller.setAsDefaultIngress=true' --set controller.service.annotations."service\.beta\.kubernetes\.io/azure-load-balan

[2022-09-09 09:20] iwilltry42 commented on #659
Thanks for the headsup!
Unfortunately, in my tests, ingress-nginx was quite slow to configure an IP, so I also had to raise the test timeout to 1 minute (took ~40s in my tests).
PR incoming :+1:

[2022-09-09 09:45] iwilltry42 commented on #649
@cjellick that was just a typo and I think it can be neglected, since that would only affect edge cases for people using Docker for Desktop (as that's the only use case where we install traefik).

[2022-09-09 13:17] cjellick commented on #670
@iwilltry42 thoughts on this? The fact that it only works if installed in the default namespace is odd.

@meldafrawi what version of k8s is this?

[2022-09-09 17:03] meldafrawi commented on #670
k8s version: 1.24.3

[2022-09-10 09:05] iwilltry42 commented on #670
Hi @meldafrawi , in my tests, the ingresscapability check tends to timeout fairly often, since ingress-nginx seems to be fairly slow to populate the ingress address field.
That's why my PR over here increases the timeout to 1 minute.

This still seems odd. Can you verify that it works in general by creating any Ingress object while nginx is deployed in another namespace?
What we're looking for is

[2022-09-12 15:01] meldafrawi commented on #670
@iwilltry42

Yes, `ADDRESS` field is populated using the example you provided.

[code]

[2022-09-12 15:08] iwilltry42 commented on #670
Then I guess it should work with the increased timeout :+1:

[2022-09-12 16:57] meldafrawi commented on #670
The issue now is that after intalling nginx as ingress controller, and install acorn on the AKS cluster.

I've tried to run a simple acorn app.
I was able to build and list images on the local registry.

[code]

However when trying to run spawn the app from the image, containerd is not able to access AKS worker node on 127.0.0.1:<PORT>, where the PORT is the nodeport exposed by the registry servic

[2022-09-12 22:41] meldafrawi commented on #670
[code]

[2022-09-12 23:07] cloudnautique opened #679 "Provide a way to encrypt secret data for a cluster."
This adds the basics for encryption of secret data on a per-cluster basis. There are convenience calls to bulk encrypt a message for multiple clusters given their public keys. The implementation leverages libsodium sealed boxes where the nonce is a computed blake2b hash value of the sender and recipient's public keys.

On startup of Acorn, the cluster will generate a public/private key pair and st

[2022-09-12 23:07] cloudnautique commented on #679
This is getting implemented in #678

[2022-09-12 23:54] meldafrawi commented on #670
I've tried to pull the image using `crt`, i was able to pull the image when only using `--plain-http` option

[code]

but without the option, I get the following error:
[code]

it is the same error on `containerd` logs when trying to run the app using acorn
[code]

[2022-09-13 01:15] meldafrawi commented on #670
Observing kubelet logs:
[code]

seems similar to https://github.com/containerd/containerd/issues/4141

checking containerd config, we found
[code]

Thanks to @ibuildthecloud, and according to
https://github.com/containerd/containerd/blame/1764ea9a2815ddbd0cde777b557f97171b84cd02/pkg/cri/server/image_pull.go#L336

setting `config_path` disables the "default to http" behavior for localhost`

[2022-09-13 01:21] meldafrawi commented on #670
Ref: https://github.com/containerd/containerd/issues/7392

[2022-09-13 13:13] liyimeng opened #680 "vscode plugin"
since acorn try to be easy for app developers, I am wondering if any IDE is in plan, e.g. a vscode plugin?

[2022-09-13 16:30] cjellick commented on #680
Like for editing the Acornfile and getting properly highlighted syntax or something more elaborate than that?

[2022-09-13 17:02] bigkevmcd commented on #664
This is because...

https://github.com/acorn-io/acorn/blob/main/pkg/install/install.go#L255-L260
[code]
Applies the [system.Namespace](https://github.com/acorn-io/acorn/blob/main/pkg/system/constants.go#L6) as the default namespace to the Traefik resources when they're being installed...but...

https://github.com/acorn-io/acorn/blob/main/pkg/uninstall/uninstall.go#L93-L100
[code]
Causes them to be

[2022-09-13 19:01] liyimeng commented on #680
Close this since we have a discussion thread for it already.

[2022-09-13 19:49] cjellick commented on #680
Will keep this open for tracking purposes for when/if we pick this work up. Thanks!

[2022-09-13 19:49] cjellick commented on #680
Link to convo: https://github.com/acorn-io/acorn/discussions/622#discussioncomment-3638409

[2022-09-14 15:35] cjellick commented on #664
Ah!

[2022-09-17 12:41] sjkeerthi opened #700 "Installation Error"
Hi

I am trying to install acron with below command as per doc in Fedora 36 and Rocky 9

`curl` https://get.acorn.io | sh
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  8172  100  8172    0     0   4968      0  0:00:01  0:00:01 --:--:--  4967
[INFO]  Finding release for channel lates

[2022-09-18 22:11] deathwaiting opened #703 "Ports are not assigned correctly"
I am kubernetes noob, and currently trying to run a `minikube` cluster on local machine as dependencies for my app, using.
I am trying to publish ports 5432 and 8080, hopefully on localhost, or on the cluster IP, but the services are assigned to random ports instead

my acorn file

[code]

I run using
`acorn run --name qu -p mydb.com:db:5432 -p keycloak:8080 .`

but checking the status gives me
[c

[2022-09-19 09:04] josedev-union opened #704 "Once app is updated, Deployments consume images specified in container of Acornfile instead of acorn image"

[2022-09-20 20:52] deathwaiting commented on #703
Ok, after some search, it seems this is a problem with minikube/kubernetes itself.
Setting a node port is usually just ignored and big-brother kubernetes decide a random port for you, and it seems there is no clear way to undo this.

Any way I ended up doing a simple python script that runs `minikube service list` and extract the generated url/IP's for the published services into a properties file

[2022-09-24 18:09] iwilltry42 commented on #548
`acorn run --wait` already exists and is enabled by default.
However, it may not wait for absolutely everything to be 100% functional.
Here's an example:

[code]

So the output doesn't end with a success and if watching the pod status at the side, one can see that the pod is still in `ContainerCreating` state as the acorn command returns. That may even be correct as the Acorn in this example doesn

[2022-09-24 18:12] iwilltry42 commented on #515
This doesn't seem to be implemented right now (built from current HEAD:main):

[code]

[2022-09-26 13:27] josedev-union opened #713 "Containers don't consume Acorn image, but plain container image"
This issue appeared in the following cases.
- When running the Acorn app from its local Directory, the initial replicas all consume the correct Acorn image. Once it is scaled out, new containers consume the plain container image.
- When running the Acorn app from an image, only the first container consumes the Acorn image and others don't from the initial deployment.

[2022-09-26 19:12] cjellick commented on #713
Can you provide some yaml output of the k8s resources in question to illustrate what you mean?

[2022-09-26 19:28] cjellick commented on #515
He must be referring to when you run an already built and published image:
[code]

[2022-09-26 21:12] cjellick commented on #700
Hi, I believe @vincent99 fixed this. Can you try again and let us know?

[2022-09-26 21:14] cjellick commented on #713
Hi again. Is there a difference between this issue and the other one you opened: https://github.com/acorn-io/acorn/issues/704?

[2022-09-26 21:15] cjellick commented on #704
possible dupe of #713. Waiting to hear back

[2022-09-26 21:17] cjellick commented on #548
@ibuildthecloud what's up here? What status are you waiting on with the `--wait` behavior?

[2022-09-26 21:22] cjellick commented on #488
Thanks @iwilltry42!

[2022-09-26 21:22] #488 closed

[2022-09-26 21:25] cjellick commented on #703
Right on. Thanks for opening the issue. There are definitely somethings we can do to improve this.

[2022-09-26 21:43] cjellick commented on #703
*Publishing* a port makes it accessible outside of the cluster. Is that what you want t accomplish?

Seems to me that you might want the db port to only be accessible inside the cluster (by keycloak) and keycloak to be accessible as an http service. Assuming that's the case, you should do the following:
1. Change `ports: publish: "5432/tcp"` to just `ports: "5432/tcp"`
2. Remove `-p mydb.com:db:54

[2022-09-26 21:59] cjellick opened #715 "Output says "pending ingress" when the port is tcp and ingress isnt actually involved"
Steps to repro:

build this acornfile:
[code]

Run it, publishing port 9000
[code]
That one will work, run the same command again, you'll get the following from the `acorn ps` output:
[code]

Saying "Pending Ingress" is inaccurate because tcp port publishing is done via service load balancer. Awhile ago, we just did a simple text replace of "Pending" to "Pending Ingress", apparently not taking tcp

[2022-09-26 22:28] cjellick opened #716 "Confusing behavior when publishing a tcp port"
Found while looking into https://github.com/acorn-io/acorn/issues/703

If you have the following acornfile:
[code]

And run it using:
[code]

You might expect you acorn to somehow be accessible on the hostname test.com. But that's not the case. In fact, this causes port 9000 to not get published at all

[2022-09-26 22:32] cjellick commented on #716
This combination should probably produce an error?

[2022-09-26 22:46] cjellick opened #717 "Confusing behavior when using two part publish syntax"
Found while investigating https://github.com/acorn-io/acorn/issues/703

Using the following acornfile:
[code]

Run with this command(s):
[code]

If you have a two-part publish syntax, the first part needs to be the name of a container in the acorn. If no container name is matched, what should happen? Seems like it should error out.

[2022-09-27 05:27] #704 closed

[2022-09-27 05:38] josedev-union commented on #713
Those are same, sorry, i forgot i did open already.

[2022-09-27 05:57] josedev-union commented on #713
This is the pod spec of the replica created at initial app deployment.
[code]
This is the pod spec of the replica scaled out.
[code]

[2022-09-27 16:55] cjellick commented on #713
@iwilltry42 this one could be complicated, I don't know. Can you take a stab at it? If you can't figure it out, we can punt to @ibuildthecloud

[2022-09-27 18:29] meldafrawi commented on #644
Validation: **PASS**

`acorn check` will create a pod with unique suffix with every run

Running `acorn check`  (x4)

[code]

[2022-09-27 18:29] #644 closed, assigned to iwilltry42

[2022-09-27 18:39] meldafrawi commented on #700
Validation: **PASS**
Tested installation script on both Fedora 36 and Rocky 9.

[code]

[2022-09-27 18:48] andrey-olishchuk opened #718 "User context in Acornfiles"
If the Dockerimage works as a non root user (e.g. UID 1001), how can I use that user context in  an Acornfile? Just not to have “permission denied” errors with the file system. As I see there is no possibility to use “user: 1001:1001" in the acornfile.

[2022-09-27 19:48] cjellick commented on #718
We currently dont support this, but want to. We need to add a user field to acorn.

[2022-09-27 22:38] meldafrawi commented on #471
@iwilltry42
Can you please provide `cluster.yaml`  example config with host port mapping for kind cluster that will work with acorn
I've tried the following and installed Nginx ingress, but `acorn install` check step still failed on IngressCapability.
[code]

[2022-09-28 09:21] iwilltry42 commented on #713
Simplified example:

[code]

## Run

[code]

[2022-09-28 13:21] josedev-union commented on #713
https://github.com/acorn-io/acorn/blob/1339ce43d627941c845c49d0fead32aca610f856/pkg/controller/appdefinition/deploy.go#L402
https://github.com/acorn-io/acorn/blob/1339ce43d627941c845c49d0fead32aca610f856/pkg/controller/appdefinition/deploy.go#L301-L306

Is there any usecase to use `container.Image`(`internal.acorn.io/v1`) as the image of `corev1.Container` directly?

[2022-09-28 20:39] meldafrawi commented on #664
Validation: **PASS**

tested on Docker Desktop v4.12.0

[2022-09-28 20:39] #664 closed

[2022-09-29 12:30] deathwaiting commented on #703
Actually this script is for running a local development environment on my machine - and other dev's machines- .
In this case I need all the services to be published on local host or the cluster machine with fixed ports, so the service we are working on can access them,
as it will run in debug mode for example on the developer machine directly not the cluster.

Having everything exposed is also nee

[2022-09-29 18:31] cjellick commented on #703
ok, makes sense.

We provide a little guidance here on how to get minikube setup: https://docs.acorn.io/installation/installing#local-development-clusters. Key takeaways are to install the ingress add-on and run `minikube tunnel`.

I am assuming your set up is minikube using the [docker driver](https://minikube.sigs.k8s.io/docs/drivers/). Correct me if I'm wrong.

After following those install ins

[2022-09-29 18:46] cjellick commented on #703
FWIW, minikube, IMO, is not the easiest desktop k8s distribution to use. If you aren't married to it, try out Docker Desktop or Rancher Desktop. Docker Desktop does run into some licensing issues (not free once you're over a certain size, I think) so keep that in mind.

[2022-09-30 07:21] iwilltry42 commented on #471
@meldafrawi it works exactly with that config, following the default installation steps from the kind docs.
Note 1: It took about 40s for NGINX to be ready in my tests
Note 2: It requires https://github.com/acorn-io/acorn/pull/672 to be merged which increases the ingress test timeout, which is required for ingress-nginx to succeed here

[2022-10-01 11:27] bukton123 opened #721 "Cannot pull image on AKS"
I can run acorn, but I see the problem pull image on the pod

**Using AKS**
[code]

[2022-10-01 13:29] josedev-union opened #722 "Versioning Acorn Apps"
It would be good to have a new section in Acornfile or a dedicated file to include app metadata such as version.
There is no way to navigate the acorn source of the exact version.
Considering the fact that acorn app is packaged in OCI image format, versioning acorn app should enforce the tag in image build and push, I think.

[2022-10-01 13:40] josedev-union opened #723 "Control of Volume Permission"
Volumes should be configured with a specific group ID so only pods using the same GID can write data in it like `fsGroup`.
Typically, acorn apps with non-root user fail to consume volumes on managed k8s services.

[2022-10-01 13:50] josedev-union opened #724 "Service discovery for published services"
## expectations
Is there any way to discover public ip/domain names of published services (publish-scope port in acorn word)?
Or to know in advance before the deployment?

## use cases
Typical use cases are as follows:
- web/api services can have whitelisted listening address configuration.
- clustering applications should register its advertising address in their own internal service/member disco

[2022-10-01 13:56] josedev-union opened #725 "Link multiple apps to one app"
### expectation
- link multiple acorn apps to one app.
`acorn run --link my-redis:redis --link my-db:db ...`
- link multiple containers in one app to another app
`acorn run --link my-mongo:mongo-0 --link my-mongo:mongo-1 ...`

### use cases
- multi-tier applications deployed by separate acorn apps. For instance, one system which consists of api app, message queue app, task scheduler/conductor app,

[2022-10-01 14:03] josedev-union opened #726 "Support Downward api as template variable"
It is sometimes useful for acorn containers to have information about themselves.
Also, acorn app to have its information like appInstance name, namespace etc.

[2022-10-03 15:04] cjellick opened #727 "if we find a single ingressClass and it isn't marked as default, use it"
We see users run into the issue where they do have an ingress controller installed and there is an IngressClass, but it isnt marked as the default.

So, when acorn provisions an ingress, that ingress controller isnt used and acorn apps dont resolve.

The user has to add `--ingress-class-name ingress-nginx` (or whatever) to the install to get it to work, but that is a non-obvious thing to know and

[2022-10-03 15:19] cjellick commented on #725
The firest one "link multiple acorn apps to one app" should already work. Is that not the case?

The second one, I _think_ @cloudnautique and @ibuildthecloud have been discussing this problem and different ways to solve it. I'll ask around.

[2022-10-03 15:22] cjellick commented on #724
This is at least partially linked to https://github.com/acorn-io/acorn/issues/725

[2022-10-03 15:27] cjellick commented on #724
Are you sure you want the public? If this is acorn-to-acorn traffix within the same cluster, I would assume you don't want to go out through the public internets

[2022-10-03 15:30] cjellick commented on #721
@meldafrawi is this the AKS issue you've been working on?

[2022-10-03 15:34] josedev-union commented on #724
I would argue that we should consider consumer running outside of the listener acorn app's k8s cluster, in such cases;
- consumer runs as acorn app but on a different k8s cluster
- consumer runs on other platform other than k8s, for instance, ML jobs running on aws sagemaker

[2022-10-03 15:36] josedev-union commented on #722
Users can specify any tag when build acorn image `acorn build -t`. it means acorn app version and image version are different.
So I think acorn image build should use the tag infor or at least version infor from the acorn app metadata.

[2022-10-03 15:49] cloudnautique commented on #722
@josedev-union are you asking for Acorn to support labels on the Acorn app itself?

Something like the way Docker does with the [label](https://docs.docker.com/engine/reference/builder/#label)?

[2022-10-03 16:19] josedev-union commented on #722
Yes, I thought of image tagging to necessarily include the app version, but it doesn't seem necessary to include it in the tag.
When Acornfile is presented in multiple files, we can consider a dedicated file for LABELs

[2022-10-03 17:15] meldafrawi commented on #721
Yes, it is the same one.
Ref: #689

[2022-10-03 23:00] cjellick opened #730 "cant abort an install"
trying to cmd+c out of install that will never finish and acorns just ignoring me

Its stuck on
[code]
and there's no way for me to get out

[2022-10-03 23:24] meldafrawi commented on #515
Found nil pointer deference
[code]

[2022-10-03 23:50] #515 closed

[2022-10-04 00:46] meldafrawi commented on #659
validation: **PASS**

[2022-10-04 00:46] #659 closed

[2022-10-04 02:33] #670 closed

[2022-10-04 15:04] cjellick opened #733 "Create externalService type"
Discussed previously with @ibuildthecloud. To make the consumption of and integration with services running outside a cluster, we want to introduce an externalService type.

I need to get more details on this from Darren.

[2022-10-04 15:06] cjellick commented on #724
Generally agree, just wanted to make sure I understood your use case before offering a response. Though, I don't think the clustered applications like etcd or redis being cross-cluster is a good idea. Haven't seen that work out well.

Nevertheless, you reminded me that I needed to open this issue: https://github.com/acorn-io/acorn/issues/733, which I think will at least partially address this.

[2022-10-04 15:19] cjellick commented on #649
working as expected. i inadvertently tested this while testing various ingress scenarios

[2022-10-04 15:19] #649 closed

[2022-10-04 15:23] cjellick commented on #679
associated docs pr: https://github.com/acorn-io/acorn/pull/720

[2022-10-04 15:28] cjellick commented on #727
If you create a DO k8s cluster and do the 1-click install of ingress-nginx, you get this scenario.
You can also get it locally via docker desktop + installing ingress-nginx manually before installing acorn.

[2022-10-04 15:29] cjellick commented on #205
Validated! 🥳

[2022-10-04 15:29] #205 closed

[2022-10-04 21:18] meldafrawi commented on #727
Validation: **PASS**

[2022-10-04 21:18] #727 closed

[2022-10-04 21:25] meldafrawi commented on #679
Validation: **PASS**

[2022-10-04 21:25] #679 closed

[2022-10-05 09:37] josedev-union commented on #722
that is enough.
Btw, what can be the best practice for versioning?
I thought about 2 options:
For example, I wrote a mongodb acornfile, and added `version` arg to specify mongodb version. So users can specify any version via arg they want and it means there is no need for acorn image tag to include mongodb version infor, and it will just involve the acornfile version, not application version. Do y

[2022-10-05 09:43] josedev-union commented on #724
As I mentioned in the usecases, I didn't consider clustered applications running across multiple clusters.

[2022-10-05 14:53] cjellick commented on #722
Best practice would be an acorn image per mongodb version. This is the pattern we are following in our library of images:
https://github.com/acorn-io/library

I'm going to go ahead and convert this issue to a discussion.

[2022-10-05 15:12] cjellick commented on #724
I don't see that explicitly anywhere in the usecases, but ok.

So then you don't want the "public ip address" for that use case, right? You want an internal IP or dns name?

[2022-10-05 15:23] josedev-union commented on #724
Either public ip or dns is fine. I just want to know public endpoint in advance so it can be configured in acornfile.
Btw, I think  tcp endpoints are only exposed as IP now.

[2022-10-05 15:59] cjellick commented on #334
closing

[2022-10-05 15:59] #334 closed

[2022-10-05 16:08] #24 closed

[2022-10-05 16:09] cjellick opened #741 "Add http to https redirect functionality to router"
Per this comment: https://github.com/acorn-io/acorn/issues/32#issuecomment-1207455621

[2022-10-05 16:11] cjellick commented on #27
weve effectively moved away from doing this for now. closing

[2022-10-05 16:11] #27 closed

[2022-10-05 16:11] cjellick commented on #28
This is getting tracked and completed out-of-band. no point in keeping this issue open

[2022-10-05 16:11] #28 closed

[2022-10-05 16:12] cjellick commented on #32
this has been done. opened a separate issue for the redirect enhancement

[2022-10-05 16:12] #32 closed

[2022-10-05 16:14] cjellick commented on #69
havent seen this in awhile. closing

[2022-10-05 16:14] #69 closed

[2022-10-05 16:14] cjellick commented on #70
need to get more details from @ibuildthecloud on this.

[2022-10-05 16:15] cjellick commented on #76
Completed: https://github.com/acorn-io/acorn/blob/main/CONTRIBUTING.md

[2022-10-05 16:15] #76 closed

[2022-10-05 16:17] cjellick commented on #87
Moving out of v0.4.0, because I dont think @ibuildthecloud is going to get to it, given the kubecon release

[2022-10-05 16:18] cjellick commented on #109
pretty sure this is done. closing

[2022-10-05 16:18] #109 closed

[2022-10-05 16:19] cjellick commented on #124
completed! w00t

[2022-10-05 16:19] #124 closed

[2022-10-05 16:19] cjellick commented on #136
reference acorns being worked on and tracked separately

[2022-10-05 16:19] #136 closed

[2022-10-05 16:23] cjellick commented on #231
library acorns being worked on and tracked separately

[2022-10-05 16:23] #231 closed

[2022-10-05 16:23] #232 closed, assigned to hnp2

[2022-10-05 16:26] #259 closed

[2022-10-05 16:26] #317 closed, assigned to nobody

[2022-10-05 16:33] cjellick commented on #339
not exactly sure what this means 😅

[2022-10-05 16:41] cjellick commented on #375
@iwilltry42 can you take a stab at fixing this for the v0.4.0 release (end of october)

[2022-10-05 16:42] cjellick commented on #380
We are going to refactor the buildkit pod to be exposed via a service LB rather than a proxy. Believe this will fix it

[2022-10-05 16:43] cjellick opened #742 "Expose builder through a service LB rather than a port forward"
There’s a sub resource for builder port. When you hit this API currently, it returns a socket and the client connects directly to it. We want to change this so that the api returns back certs and a port to connect to. This should gives the client cert-based client authentication and the ca trust and the ip/name and port to connect to.

If service LB fails after some amount of time, we should fallb

[2022-10-05 16:45] cjellick commented on #429
moving out of v0.4.0 because i dont think @ibuildthecloud will get to it in october

[2022-10-05 16:45] cjellick commented on #429
assigning to @ibuildthecloud because I bucket this as part of the AML work

[2022-10-05 16:48] cjellick opened #743 "Support service meshes"
See https://github.com/acorn-io/acorn/issues/456 for more details, but the idea is to improve networking and security posture of acorn apps by creating the proper underlying service mesh resources when launching an acorn app

[2022-10-05 16:52] meldafrawi commented on #721
@bukton123 issue is fixed in v0.3.0 release.

[2022-10-05 16:52] #721 closed

[2022-10-05 16:53] cjellick commented on #457
need to discuss with @ibuildthecloud to see what we want to do here

[2022-10-05 16:56] cjellick commented on #467
Need to discuss with the team to see if we want to do this.

[2022-10-05 16:58] cjellick commented on #476
We've added a check for ingress to the install process, but the last two questions need answered

[2022-10-05 17:17] cjellick commented on #486
This issue has a lot of history and went in a couple different directions. We do want to support out-of-the-box, no-cert-manager-needed issuance of certificates for user provided domains. That is tracked here: https://github.com/acorn-io/acorn/issues/206

While the other issue will be the primary tracking issue for this feature, I am going to keep this issue open as a "sibling" issue to that one a

[2022-10-05 17:18] cjellick commented on #492
I am going to put this in v0.4.0 and send to "QA" for reverification.

[2022-10-05 17:19] cjellick commented on #492
@cloudnautique can you retest sometime next week?

[2022-10-05 17:21] cjellick opened #744 "vscode plugin for acorn"
Want syntax completion, highlighting, etc.

@cloudnautique started a POC: https://github.com/cloudnautique/vscode-aml

but this has a huge dependency of the AML rewrite getting finished: https://github.com/acorn-io/acorn/issues/490

[2022-10-05 17:23] cjellick commented on #501
We talked about introducing a ComputeClass resource/object that basically allows an admin to create predefined buckets, similar to storageClass

[2022-10-05 17:24] cjellick commented on #502
Beyond just generically signable, we want attestations and/or annotations to indicate arbitrary checks or approvals the image has gone through

[2022-10-05 17:26] cjellick commented on #503
With @cloudnautique's `acorn images -c` command (https://github.com/acorn-io/acorn/issues/635), we've given the user a way to scan the embedded container images of an acorn image. going to close this

[2022-10-05 17:31] #520 closed

[2022-10-05 17:34] cjellick commented on #531
nah

[2022-10-05 17:34] #531 closed

[2022-10-05 18:01] cjellick commented on #565
moving out of v.0.4.0 because i dont think we are going to get to all of the AML work in october

[2022-10-05 18:03] cjellick commented on #577
Never got testing this, but I'd like to see us revisit this sometime in october

[2022-10-05 18:07] cjellick commented on #599
@ibuildthecloud - i wonder if @iwilltry42 should tackle this while he's refactoring buildkit to be exposed as a service LB. Tentatively putting it in v0.4 and assigning to him under that premise

[2022-10-05 18:09] cjellick commented on #624
looks like this is addressed

[2022-10-05 18:09] #624 closed

[2022-10-05 18:10] cjellick commented on #744
whoops. dupe of https://github.com/acorn-io/acorn/issues/680

[2022-10-05 18:10] #744 closed

[2022-10-05 18:12] cjellick commented on #662
whoops. dupe of https://github.com/acorn-io/acorn/issues/43

[2022-10-05 18:12] #662 closed

[2022-10-05 18:12] cjellick commented on #43
good use case: prove that we can properly launch and manage AI/ML applications that require GPU support

[2022-10-05 18:13] cjellick commented on #641
we nuked nested acorns

[2022-10-05 18:13] cjellick commented on #641
we nuked nested acorns

[2022-10-05 18:13] #641 closed

[2022-10-05 18:15] cjellick commented on #703
Going to convert this to a discussion

[2022-10-05 18:23] cjellick commented on #466
coming in 0.4. updated title to reflect the current plan

[2022-10-05 19:44] djcarpe opened #746 "Expose Pod information to Containers through Environment Variables"
## Description

There may be cases where we'd like containers to have access to pod information through environment variables.

Some example pod information that can be pulled through the downward api is the `fieldRef` and `resourceFieldRef`.

###### A short list of available fields

| field | description |
| :-: | :-: |
| `metadata.name` | the pod's name |
| `metadata.namespace` | the pod's names

[2022-10-05 19:58] djcarpe commented on #746
Closing in favor or #726

[2022-10-05 19:58] #746 closed

[2022-10-05 20:35] cjellick opened #747 "Add "continuous run" capability"
As part of `acorn run`, a user should be able to indicate they want acorn to watch for new versions of the acorn image and automatically deploy them. They should be able to specify version constraints, like the tag must match a certain pattern or fall within a certain range.

[2022-10-05 20:37] cjellick opened #748 "1st class service support and integration"
Integrate with cloud provider's service offerings to provision cloud-native resources, like databases

[2022-10-05 20:37] #503 closed

[2022-10-05 20:54] cjellick opened #749 "Document router functionality"
We added router functionality in this PR: https://github.com/acorn-io/acorn/pull/681

We need to document it

[2022-10-06 04:36] cimtico commented on #380
I'm also running into this using k3s.
It is intermittent with
[code]
and this other error also
[code]

but as vincent99 mentioned, giving it a couple seconds and a couple retries later, it seems to work.

[2022-10-06 09:54] bukton123 commented on #721
@meldafrawi Thank you

[2022-10-06 18:57] cjellick commented on #742
@ibuildthecloud anything to add to this?

[2022-10-06 19:02] cjellick commented on #742
One thing we need to explicitly test: because of the current port-forward architecture, building just doesnt work on GKE. So, we want to verify that this works on GKE once we're done

[2022-10-06 19:15] cjellick commented on #476
New thing that has come up recently: if the ingress check fails, @ibuildthecloud wants the cli to direct the user to an article in our help. I tried to knock this out for v0.3.0, but it became unclear to me what he and wanted in the docs beyond what is in https://docs.acorn.io/installation/installing#ingress-and-service-loadbalancers

Then I ran out of time before the release. So, I also need to c

[2022-10-06 19:22] cjellick opened #752 "Reduce log level of unhelpful logs and allow for dynamic control of acorn log level log level of acorn"
This enhancement is a two parter:

- First, provide a way to dynamically set the log level of the acorn controller or api server. As an example, rancher did this via: https://github.com/rancher/loglevel/tree/master and https://github.com/rancher/log/blob/master/server/server.go. This allows an operator to run a command against the pod that will change log level with out redploying
- Second, turn t

[2022-10-07 15:51] cjellick opened #753 "Acornfile builds actually uses docker credentials"
From user slack:

[code]

@ibuildthecloud:

[2022-10-07 15:51] cjellick commented on #753
Possibly related - https://github.com/acorn-io/acorn/issues/479

[2022-10-07 16:44] cjellick commented on #713
@iwilltry42 what's the next steps? Is this fixable? do you need more input on correct behavior from @ibuildthecloud ?

[2022-10-07 18:16] cjellick commented on #747
This phase, for v0.4.0 will just use image polling, no webhooks

UX
Flags:
[code]

Example usages:
[code]

Open questions:

For E1:
- This can get SUPER weird. What if there's a `latest` and a `v1.1.x`? How do we know which to choose? Timestamp?

- Should cd work on images local to the cluster or just those pulled from a remote repository?

[2022-10-10 20:13] cjellick opened #754 "dns records not renewing"
If acorn-dns records are purged because acorn hasnt renewed them with the acorn-dns service in two days, acorn should attempt to renew them the next time it checks in. This currently isnt happening.

Steps to reproduce:
1. Install acorn with the acorn-dns feature enabled (if you're running on a "local" k8s distro, you have to turn it on explicitly, if you're using a non-local k8s distro, it will b

[2022-10-11 18:26] cjellick commented on #747
Main feedback was that `***` should replaced with `?**`. So, moving ahead with the above with that one change

[2022-10-11 21:39] cjellick commented on #747
## CLI flags

### acorn install
[code]

### acorn run
[code]

[2022-10-12 01:08] vincent99 commented on #747
`v*.*.*` matches `v1.2.3`, and `v2.0.0` is an upgrade, if I don't include the zeros does it match `v2` or `v2.0`?

Maybe it's just me but 3 different versions of matching all using `*` seems confusing.  I assume this all stems from wanting to use `*` for the common case, but `#` => number, `*` => any segment, `**` => wildcard would make more sense to me and make */** behave more like they normally

[2022-10-12 15:41] cjellick commented on #747
@vincent99 I understand the suggestion for replacing `#` in place of `*`. If @ibuildthecloud is on board, I'll make the change. But I'm unclear if you are making other suggestions.

Using current parlance for clarity, `v*.*.*` would not match `v2` or `v2.0`. `v**` or simply `**` would match them, but those would be sorted "alphabetically", which I don't believe would be the desired outcome most of

[2022-10-12 15:49] cjellick opened #759 "acorn generated DNS name should remain the same if app is deleted and recreated"
When we introduced let's encrypt tls, we had to change our naming scheme. We went from dot separated to dash separated. When we did this, we introduced a random bit (actually part of the app's UID I think) to help avoid clashes.

But that means if you delete and recreate an app, the dns name changes. We would like it to remain constant while also avoiding clashes as best we can. So, let's replace

[2022-10-13 15:38] cjellick commented on #660
@jsilverio22 - going to give this to you to take a stab at it

[2022-10-13 23:30] jsilverio22 commented on #660
Trying to get this to solve the issue as a starting point should this be added to the Acornfile or to the namespace through something like
` kubectl label namespaces ns-test-app acorn.io/app-name=test-app`?

[2022-10-14 14:37] cjellick commented on #660
Yeah, if you are using a namespace pre-created out-of-band from acorn, you should label it explicitly

[2022-10-14 14:40] cjellick commented on #660
@jsilverio22 this also needs documented as a feature. Probably in the "Running acorn apps" section in a new page called "Namespaces and Service Accounts" and you can also document that all containers launched as part of an acorn will have a service account named "acorn".

[2022-10-14 16:17] cjellick opened #764 "Can't tag images that come from remote registry"
Steps to repro (for me)
1. acorn login docker.io
2. run following commands:
[code]
Actual:
Get error:
[code]
Expected:
Don't get error

[2022-10-14 22:45] cjellick opened #766 "ingress check failing on civo cloud"
I havent had an opportunity to test this myself but we got a report in user slack that the install check for ingress fails in civo, using traefik from their marketplace.

Despite having a working ingress, install keeps reporting:
[code]

[2022-10-16 08:10] iwilltry42 commented on #206
At a first glance, I'd go this route:

1. Use https://github.com/acorn-io/acorn/blob/beb70497522f1370b111759a956d8d362e9e7bd7/pkg/publish/cert.go#L109 to get a list of non-TLS-covered hosts
2. Create empty TLS secrets for those hosts and append them to the list in the same function
3. Somehow have Acorn watch for those secrets (alternatively create some CR or something the like to create a watcher

[2022-10-17 04:50] ibuildthecloud commented on #766
This happens when the ingress provisions "too fast."  Basically the ingress status gets set before we start the watch. Then the watch never gets a modified event and just waits forever.

[2022-10-19 01:51] ibuildthecloud opened #790 "Reinstall prompts for LE TOS and email"
If you run install a second time with `--lets-encrypt=enabled` and previously had entered the email/tos it will reprompt.

I think in this situation it should use the previous values to be consistent to the rest of the install args. In general if you run `install --foo=true` and then `install` again with no args, `--foo=true` should persist.

[2022-10-19 15:41] cjellick opened #791 "Helm chart for installing acorn"
As the title says.

[2022-10-19 15:46] cjellick opened #792 "ingress check times out before ALB can provision"

[2022-10-19 15:48] cjellick opened #793 "need more helpful handler error logging"
s there a way we can  get more helpful info out of logged handler errors? like something that points at what handler barfed?
[code]
doesnt give me any hint about where to start looking

With the framework rancher used, devs had to input handler names. we dont have that in the framework acorn uses, but maybe we can log the name of the handler itself.

[2022-10-20 22:53] meldafrawi opened #796 "secrets integration tests fail on EKS"
secrets integration tests when run against EKS cluster.

Steps to reproduce:
1. create eks cluster
2. start acorn controller as background process using `acorn controller &`
3. run secrets integration tests using `TEST_ACORN_CONTROLLER=external go test ./integration/secrets`

[2022-10-20 22:53] meldafrawi commented on #796
logs:
logs:

[code]

[2022-10-21 18:17] jsilverio22 commented on #84
I tried to reproduce this but am not seeing this issue any more. Unsure if it got changed w/o closing the issue.
`jsilverio@joshuas-mbp ~ % kubectl get namespaces
NAME              STATUS   AGE
kube-system       Active   2d23h
default           Active   2d23h
kube-public       Active   2d23h
kube-node-lease   Active   2d23h
jsilverio@joshuas-mbp ~ % acorn all

APPS:
NAME      IMAGE     HEALTHY   U

[2022-10-21 20:36] cjellick commented on #747
Latest API and UX

## API

#### `acorn run docker.io/cjellick/simple-demo:v1.#`
API equivalent (and relevant status bits):
[code]
In the above, autoUpgrade is implicitly enabled because the the tag is a pattern

#### `acorn run --auto-upgrade enabled  docker.io/cjellick/simple-demo:v1.#`
API equivalent (and relevant status bits):
[code]

#### `acorn run --auto-upgrade notify  docker.io/cjellick/si

[2022-10-23 19:45] saggiyogesh opened #803 "Scale from / to zero"
Hi,
Any plans to have autoscaling support, with service pods scales from/to zero?

[2022-10-25 08:09] rhalat opened #813 "Support different SA for different Acorn containers"
Hi,
the request is to implement feature that allows users to use different Service Accounts for different containers (deployments) specified in Acornfile. Let's say, that we have stack of applications and only one of them needs more permissions in the cluster such as creating/deleting pods. Current approach with the single SA will add these permissions to all applications. It would be nice to be a

[2022-10-26 20:50] colek42 opened #817 "Output image identity information"
As a user I would like some way to create an attestation on the acorn image produced.  There are two ways that I think we could do this.

1.  Add a --iidfile flag that writes the image ID to a file.  Docker currently has this flag

2.  Add an option to output a tar image when running acorn build

[2022-10-27 13:05] dvgitit opened #818 "mirror and/or insecure registries not handled"
It does not seem to pickup the insecure registry setting in /etc/docker/daemon.json. `docker pull`works without error.

# Symptoms

Example from https://docs.acorn.io/#quickstart:

`acorn run .` yields the error:

[code]

or running `acorn pull`:

[code]

# Analysis

content of `/etc/docker/daemon.json`:

[code]

[2022-10-27 21:53] sbmw opened #819 "Lets Encrypt endpoints only working with a single app"
Hi, thanks for your work on this awesome project.   I seem to have hit a bug, but even though I've tested many times and in many ways I'm suspicious that I'm doing something wrong :)

Steps to reproduce:

`acorn install --lets-encrypt enabled --lets-encrypt-tos-agree=true --lets-encrypt-email email@example.com`

[code]

`acorn run`

Result: Success!  App is hosted and https endpoint generated.

`a

[2022-10-28 21:58] ibuildthecloud commented on #817
The —idfile is a simple addition that regardless of your use case we should do. But beyond that is there something we can do to make this even better?

[2022-10-28 22:00] ibuildthecloud commented on #817
The tar option is a bit weird because acorn include multiple docker images so I’m not sure what the tar would be. Are you talking about a OCI formatted tar that has digests and tars in it? We can do that, but again it seems like we could do something cooler.

[2022-10-31 14:25] cjellick commented on #819
Thanks for the report. We'll look into this.

[2022-10-31 14:33] cjellick commented on #818
What k8s distribution/provider are you running, ie Docker desktop, rancher desktop, etc.

Also, when we pull, it's done "in-cluster", so is this daemon.json on your local machine or is it in use by your cluster?

Regardless, we use a library to do our image pulling, so I'm not terribly sure if there is any way to affect how images are pulled via a config file. I'll ask @ibuildthecloud.

[2022-10-31 14:45] cjellick commented on #818
ok, spoke briefly with @ibuildthecloud on this. This is a known limitation that we need and want to address. Unfortunately, it won't be a quick fix. Pulling images with acorn is a bit complicated. Bits of it happen client-side and server side, both in library code we use and in the buildkit daemon we launch.

We will have to build out an aconr-specific config file that exposes registry options lik

[2022-10-31 14:50] cjellick commented on #813
@ibuildthecloud and I had a brief discussion about this. Acorn creating an SA per container makes sense. We'll add it. We probably won't allow containers to point at pre-existing SAs at this time.

[2022-11-01 16:23] cjellick opened #823 "Reflect dns status for acorn-dns endpoints"
When we create an acorn-dns entry, sometimes something can go wrong, either with the user's dns querying or with the actual DNS record being created.

We want acorn apps to reflect the status of their dns entries. I am thinking the endpoints column should say `(pending DNS)` at the end if the record doesn't yet exists in route53.

To do this, we want to query the record's route53 server directly.

[2022-11-01 17:58] cjellick commented on #819
@jsilverio22 can you investigate this perhaps? at least see if we can repro

[2022-11-01 18:01] #680 closed

[2022-11-01 18:35] cjellick opened #825 "AML processing library"

[2022-11-01 18:36] cjellick opened #826 "Vertical Pod autoscaler integration"
Treating resources will be modeled around VPA

[2022-11-01 18:36] cjellick opened #827 "HPA Integration"

[2022-11-01 18:39] cjellick opened #828 "Cluster auto-scaling integration"

[2022-11-01 18:44] cjellick opened #829 "Deployfile functionality"

[2022-11-01 18:49] cjellick commented on #743
We want mTLS and visibility (linkerd)

[2022-11-01 18:50] cjellick commented on #44
bad idea in general

[2022-11-01 18:51] #44 closed

[2022-11-01 18:53] cjellick commented on #733
Might get done as part of service operator integration

[2022-11-01 18:57] cjellick commented on #803
Related to: https://github.com/acorn-io/acorn/issues/827

[2022-11-01 19:01] cjellick opened #830 "Metrics as a first class feature"
We want to make it much easier for users to expose metrics. The current best practice for a user using raw k8s is to create a metrics endpoint in the application and then wire it into prometheus using CRDs.

We want to simplify that down to the user just needing to define a metrics port and path for an acorn container and acorn will take care of the wiring up.

This should also be compatible with

[2022-11-01 21:02] sbmw commented on #819
Sorry, I should have included:

Fedora 36
Minikube v1.27.1 - running with kvm2 driver
Acorn v0.3.1+ef23e779

[2022-11-01 21:16] cjellick opened #831 "job restart"

[2022-11-02 16:32] cjellick commented on #813
So @tylerslaton - the implementation idea here is pretty simple: right now every container in an acorn gets the "acorn" service account. we want to change this such that each container (and underlying deployment) gets a unique service account (with a predictable name based on the container name).

[2022-11-02 16:35] cjellick opened #833 "Support embedding a helm chart inside an acorn"
Placeholder for now. Need more details

[2022-11-02 17:17] jsilverio22 commented on #819
Hey @sbmw from the docs `Let's Encrypt integration is only useful if you are running a non-local Kubernetes cluster. If you are running acorn on a local cluster such as Docker Desktop, Rancher Desktop, or minikube, enabling Let's Encrypt will have no effect. We don't issue certificates for the .local.on-acorn.io domains that are used in this scenario.` I tried to reproduce from my end but b/c Let'

[2022-11-03 15:04] jsilverio22 commented on #819
Hey @sbmw I was able to reproduce this bug but only when adding the --enable-dns flag to the acorn install. Did you also have this flag enabled or are you handling the public FQDN some other way?

[2022-11-03 15:51] tylerslaton commented on #813
Nice, I'll get on this now.

[2022-11-03 17:46] tylerslaton opened #839 "Running the test suite leave hanging application namespaces"
## Summary
When running the test suite locally I noticed that there were several application namespace that persisted between runs that I then had to manually delete by hand.

[code]

Instead, these namespaces should get automatically cleaned up between runs.

[2022-11-03 19:57] sbmw commented on #819
Hey @jsilverio22, thanks for looking into this.  I'm not using that flag I'm afraid.  I just tried on a different machine, running Ubuntu and using the docker driver in minikube (rather than kvm2) - same result.  I'll list out my exact commands below, but this isn't any kind of road block for me in local dev.  I really only raised the issue to a) check that I wasn't misunderstanding anything and b

[2022-11-03 20:34] ibuildthecloud opened #841 "Add autocomplete on resource names"
Right now we have just basic CLI bash completion which auto-completes command names.  I would like something like `acorn exec <TAB>` to print the list of apps/containers. Each auto complete would have to be added to each command specific to the commands behavior.

[2022-11-04 09:18] iwilltry42 commented on #713
Hey, sorry for the late reply.
@cjellick it's definitely fixable. We'll need a 3-way mapping of the involved images

[code]

Questionable could be if we want to re-pull `nginx:latest` on update, effectively invalidating the whole mapping and requiring a restart of the running container?

[2022-11-04 13:32] lucj opened #842 "Add a simple example to the "acorn secret expose" command"
The --help of ```acorn secret expose``` does not provide many information regarding this particular command:

[code]

[2022-11-04 17:06] vincent99 commented on #346
@ibuildthecloud:

So we with have the UX you explained and then a cleaned upped rm UX that makes a bit more sense.

[2022-11-04 17:41] lucj commented on #346
Just to add on that. Currently to delete an app, image, volume, ... we need to use the acorn rm command with a flag corresponding to the resource we want to delete (except for app). I thing that could be nice to have the possibility to delete resources directly with acorn image rm , acorn volume rm ,... this approach is already possible with secrets.

[2022-11-05 05:08] ibuildthecloud opened #848 "ingress generated hostname collision"
On main, as of 02cfe85411f66ddacd932c75d43298abc6365451, if you have two apps in two difference namespaces that have the same app name and service name they will generate the same hostname.  This causes a collision between apps.  The issue resides in the fact that the generated suffix does name include the appInstance.Namespace in the hash string.

[2022-11-05 06:12] #848 closed

[2022-11-07 18:59] tylerslaton commented on #842
Thanks for the raising this issue @lucj, the general help command for `acorn secret expose` could definitely use an uplift.

[2022-11-07 20:00] lucj commented on #842
Thanks @tylerslaton
Also, what about that one which might make the **expose** command clearer ? https://github.com/acorn-io/acorn/issues/348

[2022-11-08 09:40] dvgitit commented on #818
Used is k3d v5.3.0 and v1.22.6-k3s1

[2022-11-08 15:59] cloudnautique opened #854 "Multi-platform builds from M1 Macs do not show amd64 components on Dockerhub"
When building multiplatform on an m1 mac with a command like:

[code]
The resulting published artifact shows up with linux/arm64 architecture only on Dockerhub.

To reproduce on an M1 mac running Rancher Desktop 1.6.2

1. git clone https://gitlab.com/voting-application/result.git
2. create Acornfile:
[code]
3. run `acorn build -t docker.io/user/image:tag -p linux/arm64 -p linux/amd64 --push .`
4.

[2022-11-08 16:50] cjellick commented on #636
LGTM

[2022-11-08 16:50] #636 closed

[2022-11-08 18:28] cjellick commented on #839
Removed the bug label because bugs are product/user facing. An issue in the tests themselves shouldnt be categorized as a bug

[2022-11-09 16:13] #559 closed

[2022-11-09 16:16] #749 closed

[2022-11-09 19:34] sirredbeard commented on #43
Like Determined

[2022-11-09 21:57] djcarpe commented on #726
## Description

There may be cases where we'd like containers to have access to pod information through environment variables.

Some example pod information that can be pulled through the downward api is the `fieldRef` and `resourceFieldRef`.

###### A short list of available fields

| field | description |
| :-: | :-: |
| `metadata.name` | the pod's name |
| `metadata.namespace` | the pod's names

[2022-11-10 09:07] dvgitit commented on #818
Another test using Rancher RKE on vsphere nodes on premise. Meaning without k3d. Test scenario is according to

- https://docs.acorn.io/#initialize-acorn-on-kubernetes-cluster
- https://docs.acorn.io/#buildrun-first-acorn-app

The result of running `acorn run .`  is:

[code]

I assume `acorn` builds the image regarding the local docker host, which at this time only uses `/etc/docker/daemon.json`,

[2022-11-10 14:57] cjellick commented on #818
acorn does not build using the local docker host. There is a buildkit pod running in the cluster. That is what builds the image.

[2022-11-10 17:34] ibuildthecloud opened #860 "acorn dev mode log stream doesn't survive an API server restart"
If you are running `acorn run -i` and then you upgrade/delete the acorn apiserver the logs seem to stop working.  This obviously isn't a super common use case but it does point to there is some issue in reconnecting/restarting the watches.  It typically stops with a message like

[code]

This would lead me to believe that we are keeping the initial resourceVersion for the watch and trying to resta

[2022-11-14 16:49] kleintech opened #867 "Link to Users Slack in docs site is throwing an SSL cert error"
Hello there 👋🏻

I noticed when attempting to join your Users Slack that the link in the docs site throws a TLS cert error and then throws a 403, but works fine on the main acorn.io site.

Looks like [this link in the footer](https://github.com/acorn-io/acorn/blob/1913d80479939954abc452f14ab6cb2414351ea9/docs/docusaurus.config.js#L84) should probably just be updated.

[2022-11-14 17:16] jsilverio22 opened #868 "CLI not testable"
Acorn CLI has no tests / test framework

[2022-11-15 16:52] cjellick commented on #867
Thank you!

[2022-11-15 16:54] cjellick commented on #867
@cloudnautique i dont know who will fix this, but im going to assign to you for tracking

[2022-11-15 16:55] cjellick commented on #867
never mind. i can fix. the certs not bad, the url is.

[2022-11-15 20:27] #518 closed

[2022-11-15 20:54] ibuildthecloud commented on #548
@cjellick @iwilltry42 It just waits for `app.Status.Ready` to be true.  If that is true and the app is not in fact ready then the controller that updates the status should be modified.  One issue with the Ready check is that it won't consider "Uptodate"  so it is possible if you are updating an app it will be considered ready when it has updated.  We should probably add another field status.UpToDa

[2022-11-15 21:20] #766 closed

[2022-11-15 21:50] #759 closed

[2022-11-15 22:39] djcarpe opened #880 "Dev Mode `.dockerignore` Support"
## Description

Build currently honors `.dockerignore`. When running in dev mode, it would be helpful to be able to exclude a list of directory or files from being tracked and ignored by the syncer.

Additional information can be found in [slack](https://acorn-users.slack.com/archives/C03R9ME0SKC/p1668551420751749).

[2022-11-15 22:41] ibuildthecloud commented on #880
From slack (since history might get GC'd)

[2022-11-15 22:52] #324 closed

[2022-11-16 15:11] cjellick opened #881 "release note the breaking change to permissions"
from @ibuildthecloud : random though, the permissions change is going to break upgrade for anyone who has used permissions.  I don't think we need to worry about breaking upgrade, but we should release note this and tell people what to do to fix it.

im just opening this issue in the milestone so that i dont forget to do so

[2022-11-16 15:18] #819 closed

[2022-11-16 15:24] cjellick commented on #881
also, the refactor to `acorn rm` is technically a breaking change. Should release note that as well

[2022-11-16 15:45] jsilverio22 opened #882 "acorn rm images deletes all images pointing to that digest"
$ acorn images
REPOSITORY   TAG       IMAGE-ID
foo          1         609f3bd29306
bar          1         609f3bd29306
foo          4         609f3bd29306
..
simple-demo $ acorn rm --images  bar:1
bar:1
simple-demo $ acorn images
REPOSITORY   TAG       IMAGE-ID
$

[2022-11-16 20:41] cjellick commented on #790
See: https://github.com/acorn-io/acorn/pull/883

reopening

[2022-11-16 21:01] cloudnautique commented on #854
Tested with `acorn version v0.4.0-alpha1+05ee1411`

Still see this issue.

![Screenshot 2022-11-16 at 1 59 48 PM](https://user-images.githubusercontent.com/1989084/202293284-9ba37717-bc8f-4c8e-910d-9abe2af087d6.png)

[2022-11-16 21:12] lucj opened #884 "Check if app already exists"
I've created an app with the standard run command, everything went fine.
[code]

Then I run the same command once again but it's only after it has done many things that I have an error message saying an app with this name already exists. Could the app name be checked at the very beginning if it's specified with -n flag ?

[code]

[2022-11-16 23:58] ibuildthecloud opened #889 "Currently brew finds alpha/rc builds"
We only want brew to by default install final releases, right now it picks up alpha and probably rc tags

[code]

[2022-11-17 00:09] cjellick opened #891 "test"
asdf

[2022-11-17 00:12] cjellick opened #892 "test2"

[2022-11-17 11:42] iwilltry42 commented on #713
**Update**: The fix for this is still WIP as it introduces a breaking change to the way we store image information.

[2022-11-17 15:09] lucj opened #895 "Cannot create volume with a specific size"
With both acorn 0.3.1 and 0.4.0-alpha1 I cannot create volume with a size different than 10G (default one):

Sample Acornfile:
[code]

Running the app:
[code]

Checking the resources created:
[code]

[code]

[2022-11-17 15:14] #715 closed

[2022-11-17 16:21] #867 closed

[2022-11-17 17:26] cjellick commented on #466
Almost there, one more tweak that won't make it in time for v0.4.0. We will release v0.4.1 when this is in

[2022-11-17 17:29] cjellick commented on #713
I'm pushing this out to v0.5.0. If you happen to get it done in time for v0.4.1, great

[2022-11-17 17:30] cjellick commented on #754
I've watched this over time and confirmed it. Going to close

[2022-11-17 17:30] #754 closed

[2022-11-17 17:40] jsilverio22 commented on #492
QA:
Acornfile:
` containers: {
     web: {
         image: "nginx"
         ports: "80/http"
         dirs: {
             "/data": "volume://webd"
         }
     }
     cache: image: "redis"
}
volumes: {
   webd:{}
}
`

`jsilverio@joshuas-mbp acorn % ./bin/acorn run
[+] Building 0.5s (5/5) FINISHED
 => [internal] load .dockerignore

[2022-11-17 17:40] #492 closed

[2022-11-17 20:26] joelcomp1 commented on #818
Not sure if its helpful but my work around in my case is I had a company private CA we use with our registry that Acorn didn't trust.  I ended up putting my CA in a Config Map and added a init container in the buildkit deployment to mount it, in /usr/local/share/ca-certificates and then have that init container run update-ca-certificates and copy that to a empty volume mount.  I then mounted that

[2022-11-17 21:48] meldafrawi commented on #507
Validation: **PASS**
Version:  v0.0.0-dev+05ee1411

Use the following Acornfile:
[code]

then: `acorn run -i  .`

check the following k8s objects using acorn image  with different commands (klipper, nginx, api-server, controller, buildkit, containerd-config-path)

[2022-11-17 21:48] meldafrawi commented on #507
kubectl get pods -n acorn-system acorn-api-867bc8f7c4-2xflw -o jsonpath='{.spec.containers[0]}'  | jq
{
  "args": [
    "api-server"
  ],
  "env": [
    {
      "name": "ACORN_IMAGE",
      "value": "ghcr.io/acorn-io/acorn:main"
    }
  ],
  "image": "ghcr.io/acorn-io/acorn:main",
  "imagePullPolicy": "Always",
  "name": "acorn-api",
  "ports": [
    {
      "containerPort": 7443,
      "protocol"

[2022-11-17 21:48] meldafrawi commented on #507
[code]

[2022-11-17 21:48] meldafrawi commented on #507
[code]

[2022-11-17 21:49] meldafrawi commented on #507
[code]

[2022-11-17 21:50] #507 closed

[2022-11-18 00:11] cjellick commented on #466
back in! 😎

[2022-11-18 03:04] cjellick opened #899 "deleting app shouldnt prompt me to delete containers as well"
we should change this behavior:
[code]

if im deleting an app, i should only be prompted about deleting the app, not the underlying resources as well

[2022-11-18 03:05] cjellick commented on #346
tested. looks good. 👍
I opened this as a follow up issue: https://github.com/acorn-io/acorn/issues/899

[2022-11-18 03:05] #346 closed

[2022-11-18 03:08] cjellick commented on #747
self tested. calling it good :-)

[2022-11-18 03:08] #747 closed